<div id="favourites_label_wrapper">
    <div id="favourites_label">
        Your Favorites
    </div>
    <div id="favourites_wrapper" class="horizontal_scroll_wrapper">
        <div class="favourite_wrapper">
            <a href="/browsing/id" class="favourites_link">Genres</a>
        </div>
        <div class="favourite_wrapper">
            <a href="/browsing/id" class="favourites_link">Genres</a>
        </div>
        <div class="favourite_wrapper">
            <a href="/browsing/id" class="favourites_link">Genres</a>
        </div>
        <div class="favourite_wrapper">
            <a href="/browsing/id" class="favourites_link">Genres</a>
        </div>
        <div class="favourite_wrapper">
            <a href="/browsing/id" class="favourites_link">Genres</a>
        </div>
        <div class="favourite_wrapper">
            <a href="/browsing/id" class="favourites_link">Genres</a>
        </div>
        
        <div class="favourite_wrapper">
            <a href="/browsing/id" class="favourites_link">Genres</a>
        </div>
        <div class="favourite_wrapper">
            <a href="/browsing/id" class="favourites_link">Genres</a>
        </div>
        <div class="favourite_wrapper">
            <a href="/browsing/id" class="favourites_link">Genres</a>
        </div>
        <div class="favourite_wrapper">
            <a href="/browsing/id" class="favourites_link">Genres</a>
        </div>
        <div class="favourite_wrapper">
            <a href="/browsing/id" class="favourites_link">Genres</a>
        </div>
        
        <div class="favourite_wrapper">
            <a href="/browsing/id" class="favourites_link">Genres</a>
        </div>
        <div class="favourite_wrapper">
            <a href="/browsing/id" class="favourites_link">Genres</a>
        </div>
        <div class="favourite_wrapper">
            <a href="/browsing/id" class="favourites_link">Genres</a>
        </div>
    </div>
</div>