{% load static %}
<div class="list_anime_wrapper">
    <a href="/watch/id">
        <div class="list_anime_cover_wrapper">
            <div class="list_anime_img_details_cover_wrapper">
                <div class="list_anime_img_cover_wrapper">
                    <img src="/static/temp/Networking.jpg" alt="list_anime_img_cover" class="list_anime_img_cover">
                </div>
                <div class="list_anime_details_cover_wrapper">
                    <div class="list_anime_types_wrapper">
                        <div class="list_anime_types_eps_wrapper">
                            <p class="list_anime_lang_type">
                                DUB
                            </p>
                            <p class="list_anime_lang_eps">
                                12
                            </p>
                        </div>
                        <p class="list_anime_watch_type">
                            TV
                        </p>
                    </div>
                </div>
            </div>
            <div class="list_anime_name_cover">
                    Lorem ipsum dolor 
            </div>
        </div>
    </a>
    <div class="list_anime_info_wrapper">
        <div class="list_anime_name_info_wrapper">
            Lorem ipsum dolor sit
        </div>

        <div class="list_anime_description_info_wrapper">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias perspiciatis ex incidunt facere, itaque iure nobis impedit quia minus corporis deserunt quo. Culpa vitae porro ratione laboriosam veritatis quisquam dolorum.
        </div>
        <div class="list_anime_watch_link_wrapper">
            <a href="/watch/id" class="list_anime_watch_link"><i class="fa fa-play" aria-hidden="true"></i> WATCH NOW </a>
        </div>
    </div>
</div>
