<div id="popular_wrapper">
    <div id="popular_label_wrapper">
        Popular Animes
    </div>
    <div id="popular_wrapper" class="anime_horizontal_scroll_wrapper horizontal_scroll_wrapper">
            {% include 'app/widgets/anime_wrapper.html' %}
            {% include 'app/widgets/anime_wrapper.html' %}
            {% include 'app/widgets/anime_wrapper.html' %}
            {% include 'app/widgets/anime_wrapper.html' %}
            {% include 'app/widgets/anime_wrapper.html' %}
            {% include 'app/widgets/anime_wrapper.html' %}
            {% include 'app/widgets/anime_wrapper.html' %}
            {% include 'app/widgets/anime_wrapper.html' %}
            {% include 'app/widgets/anime_wrapper.html' %}
            {% include 'app/widgets/anime_wrapper.html' %}
    </div>
</div>