{% load static %}
<div class="top_anime_wrapper">
    <div class="top_anime_num_wrapper">
        2
    </div>
    <div class="top_anime_img_wrapper">
        <img width="100px" src="{% static 'temp/Networking.jpg' %}" alt="top_anime_img" class="top_anime_img">
    </div>
    <div class="top_anime_info_wrapper">
        <div class="top_anime_name_wrapper">
            Lorem ipsum dolor sit amet
        </div>
        <div class="top_anime_small_details_wrapper">
            <div class="top_anime_eps_wrapper">
                12
            </div>
            <div class="top_anime_views_wrapper">
                <i class="fa fa-eye" aria-hidden="true"></i>
                1300000
            </div>
        </div>
    </div>
</div>