.analytic-card.card {
    width: calc(50% - 10px);
    background-color: #00000010;
    box-sizing: border-box;
    margin: 10px 0;
    border-radius: .5rem;
    box-shadow: 0 0 20px #00000050;
}

.cards-con {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.left-side.numbers-text-con {
    display: flex;
    gap: 20px;
    font-weight: bold;
    color: var(--third-color);
}

span.ticks-icon {
    display: flex;
    align-items: center;
}

span.ticks-numbers {
    font-size: 20px;
}

span.ticks-label {
    display: flex;
    align-items: center;
}

p.profile-image-tick {width: 50px;height: 65px;}

p.profile-image-tick img {width: 100%;height: 100%;}

img.profile-image {
    object-fit: cover;
    border-radius: 50%;
    padding: 10px 0;
}

.Email-tick-item, .Email-head {
    display: none;
}

img.poster-image {
    width: 50px;
    border-radius: .25rem;
}

button.table-btn {
    background-color: var(--third-color);
    padding: 5px;
    border-radius: .25rem;
    color: var(--primary-color);
    font-family: var(--primary-font);
    width: 70px;
}

/* Styles for screens with a width of 480 pixels or larger */
@media screen and (min-width: 480px) {
    .Email-tick-item, .Email-head {
        display: table-cell;
    }
}

/* Styles for screens with a width of 768 pixels or larger */
@media screen and (min-width: 768px) {
    .analytic-card.card {
        width: calc(25% - 10px);
    }
}

/* Styles for screens with a width of 1024 pixels or larger */
@media screen and (min-width: 1024px) {

}

/* Styles for screens with a width of 1200 pixels or larger */
@media screen and (min-width: 1200px) {
}
