asgiref==3.7.2
async-timeout==4.0.3
beautifulsoup4==4.12.3
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cssselect==1.2.0
cssutils==2.9.0
dj-database-url==2.1.0
Django==5.0.3
djangorestframework==3.14.0
gunicorn==21.2.0
h11==0.14.0
idna==3.6
imagekitio==4.0.0
lxml==5.1.0
packaging==23.2
premailer==3.10.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
python-decouple==3.8
pytz==2024.1
redis==5.0.2
requests==2.31.0
requests-toolbelt==0.10.1
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.10.0
tzdata==2024.1
urllib3==1.26.18
uvicorn==0.27.1
whitenoise==6.6.0
yagmail==0.15.293
