asgiref==3.7.2
beautifulsoup4==4.12.2
cachetools==5.3.2
certifi==2023.7.22
charset-normalizer==3.3.2
cssselect==1.2.0
cssutils==2.9.0
Django==5.0
djangorestframework==3.14.0
idna==3.4
lxml==4.9.3
premailer==3.10.0
psycopg2==2.9.9
python-decouple==3.8
pytz==2023.3.post1
redis==5.0.1
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.7
whitenoise==6.6.0
yagmail==0.15.293
