div#current_top_wrapper {
    display: none !important;
}

.anime_wrapper {
  display: inline-block;
  width: 24%;
  margin: 2px 0;
}

#top_animes_wrapper {
  width: 95% !important;
}

img.anime_img_cover {
  width: 100%;
  height: 230px;
  border-radius: 0.3rem 0.3rem 0 0;
}

.anime_img_cover_wrapper {
  width: 100%;
}

.anime_types_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  color: var(--accent-color);
  font-weight: 600;
}

.anime_types_details_wrapper {
  display: flex;
}

.anime_types_details_wrapper > p {
  background: var(--accent-color);
  color: var(--primary-color);
  margin: 0 2px;
  padding: 2.5px;
  border-radius: 0.3rem;
}

p.anime_type.sub_type {
  background: var(--third-color);
  color: var(--secondary-color);
}

p.anime_type.dub_type {
  background: #ffaa00;
  color: var(--secondary-color);
}

p.anime_eps {
  margin: 0 5px;
  font-family: var(--title-font);
}

.anime_details_cover_wrapper {
  background: var(--highlight-color);
  border-radius: 0 0 0.3rem 0.3rem;
}

.anime_name_cover {
  display: flex;
  justify-content: center;
  font-family: var(--title-font);
  font-weight: 600;
  color: var(--accent-color);
}

.outter_filter_item_wrapper {
  position: relative;
  margin: 0.5%;
  width: 32%;
}

div#filter_items_wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  width: 70%;
}

div#filter_wrapper {
  display: flex;
  background: var(--secondary-highlight-color);
  border-radius: 0.3rem;
  margin: 10px 5px;
}

.filter_label_value_wrapper {
  display: flex;
  justify-content: center;
  border-radius: 0.3rem;
  background: var(--highlight-color);
  padding: 5px;
  font-family: var(--title-font);
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

.filter_label_wrapper {
  margin-right: 5px;
  color: var(--accent-color);
}

.inner_filter_item_wrapper > ul {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

il.filter_item {
  box-sizing: border-box;
  width: 121.5px;
  font-family: var(--title-font);
  margin: 5px 1px;
  color: var(--accent-color);
}

.inner_filter_item_wrapper {
  display: none;
  background: var(--secondary-highlight-color);
  margin: 10px 0;
  position: absolute;
  border: solid 1px var(--third-color);
  border-radius: 0.3rem;
  width: 500px;
  padding: 10px;
  z-index: 4;
}

.active_inner_filter_item_wrapper {
  display: block;
}

#type_inner_filter_item_wrapper>ul,
#status_inner_filter_item_wrapper>ul,
#language_inner_filter_item_wrapper>ul,
#season_inner_filter_item_wrapper>ul {
  display: flex;
  flex-direction: column;
}

#type_inner_filter_item_wrapper,
#status_inner_filter_item_wrapper,
#language_inner_filter_item_wrapper,
#season_inner_filter_item_wrapper {
  width: auto;
}

img.check_tick {
  visibility: hidden;
  width: 12px;
  margin: 0;
}

input.item_check_input {
  display: none;
}

input.item_check_input:checked + .check_inner_mark {
  background: none;
  transition: all 0.5s ease-in-out;
}

input.item_check_input:checked + .check_inner_mark > img {
  visibility: visible;
  width: 15px;
}

span.check_inner_mark {
  background: var(--highlight-color);
  border-radius: 0.3rem;
  padding: 1px;
  margin-right: 5px;
  transition: all 0.5s ease-in-out;
}

.filter_label_value_wrapper:hover {
  background: var(--third-color);
  transition: all 0.5s ease-in-out;
}

div#filter_side_bar_wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-grow: 1;
  margin: 10px;
  width: 30%;
}

button#filter_btn {
  display: flex;
  margin: 0;
  font-size: 12.5px;
  font-weight: 300;
  background: var(--third-color);
  padding: 10px 0px;
  border-radius: 0.3rem;
  transition: all 0.5s ease-in-out;
}

input#filter_inp {
  display: none;
  background: none;
  border: solid 1px var(--third-color);
  border-radius: 0.3rem;
  margin: 10px 0;
  height: 25px;
  outline: none;
}

button#filter_btn > i {
  margin: 0 10px;
}

button#filter_btn:hover {
  background: var(--highlight-color);
  transition: all 0.5s ease-in-out;
}

div#inner_anime_browsing_wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

div#inner_anime_browsing_wrapper .anime_wrapper:nth-last-child(-n + 3) {
  display: none;
}

div#browsing_wrapper {
  width: 70%;
}

div#top_airing_alltime_wrapper {
  width: 30%;
}

div#current_top_label_wrapper {
  font-size: 18px;
  font-family: var(--title-font);
}

.list_anime_img {
  width: 70px;
  height: 110px;
  border-radius: 0.3rem;
}

.list_anime_info_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100px;
  margin-left: 10px;
}

.list_anime_name_wrapper {
  font-size: large;
  font-family: var(--title-font);
  font-weight: 600;
}

.list_anime_top_info_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: 10px;
  color: var(--primary-color);
  margin: 10px 0;
}

.list_anime_top_info_wrapper > div {
  border-radius: 0.3rem;
  background: var(--third-color);
  color: var(--primary-color);
  padding: 5px;
  font-weight: 600;
}

.list_anime_top_info_wrapper > .list_anime_source_wrapper {
  background: none;
  color: var(--accent-color);
}

.list_anime_top_info_wrapper > .list_anime_anime_type_wrapper {
  background: var(--accent-color);
}

.list_anime_status_wrapper {
  font-size: 10px;
  margin: 15px 0;
}

p.list_eps {
  display: inline;
  background: var(--third-color);
  padding: 10px 5px;
  color: var(--primary-color);
  font-weight: 600;
  border-radius: 0.3rem;
}

.list_anime_wrapper {
  margin: 10px 0;
  padding: 5px;
  background: var(--highlight-color);
  border-radius: 0.3rem;
  width: 95%;
}

.list_anime_link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

div#page_label {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 15px;
  font-family: var(--title-font);
  color: var(--third-color);
}

div#page_acts_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

div#inner_page_inp_btn_wrapper {
  display: flex;
  padding: 5px;
  border-radius: 0.3rem;
}

input#page_inp {
  border: none;
  border: solid 1px var(--third-color);
  background: none;
  width: 50px;
  border-radius: 0.3rem 0 0 0.3rem;
}

button#page_inp_btn {
  font-size: 15px;
  font-family: var(--title-font);
  font-weight: 600;
  background: var(--third-color);
  margin: 0;
  padding: 5px;
  border-radius: 0 0.3rem 0.3rem 0;
}

.page_act_btn_wrapper {
  margin: 10px;
}

button.page_act_btn {
  padding: 10px 5px;
  background: var(--third-color);
  width: 100px;
  border-radius: 0.3rem;
  font-size: 13px;
  font-family: var(--title-font);
  font-weight: 600;
  margin: 0;
}

button.page_act_btn > i {
  margin: 0 5px;
}

div#page_acts_wrapper > button {
  transition: all 0.5s ease-in-out;
}

div#page_acts_wrapper > button:hover {
  background: var(--highlight-color);
  transition: all 0.5s ease-in-out;
}

/*** mobile to tablet and large tablets screens ***/
@media (max-width: 870px) {
  div#browsing_wrapper {
    width: 100%;
  }

  div#top_airing_alltime_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #top_animes_wrapper > div {
    width: 50%;
  }

  #current_top_wrapper > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 149%;
  }

  #current_top_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div#filter_wrapper {
    display: flex;
    flex-direction: column;
    width: 98%;
  }

  .outter_filter_item_wrapper {
    width: 32%;
  }

  div#filter_items_wrapper {
    margin: 1%;
    width: 99%;
  }

  div#filter_side_bar_wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-grow: 1;
    margin: 1%;
    width: 98%;
  }
}
/*** mobile to tablet screens ***/

/*** mobile to tablet and large tablets screens ***/
@media (max-width: 700px) {
  .anime_wrapper {
    width: 24%;
  }
}
/*** mobile to tablet screens ***/

/*** mobile to tablet and large tablets screens ***/
@media (max-width: 600px) {
  .anime_wrapper {
    width: 32%;
  }

  div#inner_anime_browsing_wrapper .anime_wrapper:nth-last-child(-n + 1) {
    display: block;
  }
}
/*** mobile to tablet screens ***/

/*** mobile to tablet and large tablets screens ***/
@media (max-width: 550px) {
  #current_top_wrapper > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 113%;
  }

  div#inner_anime_browsing_wrapper .anime_wrapper:nth-last-child(-n + 1) {
    display: none;
  }
}
/*** mobile to tablet screens ***/

/*** mobile to tablet and large tablets screens ***/
@media (max-width: 400px) {
  .anime_wrapper {
    width: 49%;
  }
}
/*** mobile to tablet screens ***/

/*** mobile to tablet and large tablets screens ***/
@media (max-width: 300px) {
  button.page_act_btn {
    width: 70px;
  }
}
/*** mobile to tablet screens ***/
