header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  align-items: center;
  height: 55px;
  background-color: var(--highlight-color);
  z-index: 5;
}

header > div {
  width: 100%;
}

header a {
  text-decoration: none;
  color: var(--secondary-color);
}
