#outter_schedule_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

#outter_slider_wrappper {
  width: 100%;
  box-sizing: border-box;
}

#inner_schedule_wrapper {
  width: calc(100% - 10%);
}

#top_schedule_wrapper {
  position: relative;
}

#schedule_bg_img_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
}

#schedule_bg_img {
  width: 100%;
  height: 100%;
  opacity: 0.09;
  object-fit: cover;
  object-position: top;
  border-radius: 0.3rem 0.3rem 0 0;
}

#outter_time_date_wrapper {
  padding: 20px 0 0 10px;
}

#outter_time_date_wrapper > div {
  display: inline-block;
}

#time_date_label_wrapper {
  font-family: var(--title-font);
  font-size: 25px;
  font-weight: 600;
}

#inner_time_date_wrapper {
  font-family: var(--regular-font);
  font-size: 15px;
  color: var(--accent-color);
}

.swiper {
  box-sizing: border-box;
  height: 100px;
}

.swiper-slide {
  display: flex;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  font-family: var(--hammer-font);
  font-size: 35px;
  color: var(--accent-color);
  transition: all 0.5s ease-in-out;
  width: 20%;
}

.swiper-slide:hover {
  border-bottom: solid var(--third-color);
  color: var(--third-color);
  transition: all 0.5s ease-in-out;
}

.active_schedule_day {
  border-bottom: solid var(--third-color);
  color: var(--third-color);
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--third-color) !important;
  opacity: 0.5 !important;
}

#mid_schedule_wrapper {
  background-color: var(--secondary-highlight-color);
}

#second_schedule_wrapper {
  display: none;
}

.schedule_anime_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  transition: all 0.5s ease-in-out;
}

.schedule_anime_wrapper:nth-child(odd) {
  background-color: var(--highlight-color);
}

.schedule_anime_wrapper:hover {
  background-color: var(--third-color);
  transition: all 0.5s ease-in-out;
}

.schedule_anime_wrapper:hover .schedule_anime_link {
  background-color: var(--third-color);
  transition: all 0.5s ease-in-out;
}

.schedule_anime_wrapper:hover .schedule_anime_name_wrapper {
  color: var(--primary-color);
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

.schedule_time_name_wrapper {
  display: flex;
}

.schedule_anime_time_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 600;
  font-size: 16px;
  font-family: var(--regular-font);
}

.schedule_anime_name_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-size: 15px;
  font-family: var(--title-font);
  transition: all 0.5s ease-in-out;
}

.schedule_anime_link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  background-color: var(--highlight-color);
  border-radius: 1000px;
  padding: 10px 5px;
  font-size: 10px;
  font-family: var(--regular-font);
  transition: all 0.5s ease-in-out;
}

#bottom_schedule_wrapper {
  border-top: solid 1px var(--accent-color);
  background-color: var(--secondary-highlight-color);
  border-radius: 0 0 0.3rem 0.3rem;
}

#show_btn_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

#show_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-family: var(--regular-font);
  font-weight: 600;
  font-size: 10px;
  margin: 0;
  transition: all 0.5s ease-in-out;
  border-radius: 0 0 0.3rem 0.3rem;
}

#show_btn:hover {
  background-color: var(--highlight-color);
  transition: all 0.5s ease-in-out;
}

@media (max-width: 500px) {
  .schedule_anime_name_wrapper {
    display: flex;
    font-size: 12.5px;
  }

  #inner_time_date_wrapper {
    font-size: 13px;
  }
}
