/* TODO: give the first 3 top Animes their invidual left and right border colors */

#top_animes_wrapper {
  padding: 0px 5px;
  margin: 10px 0;
  width: 30%;
}

#top_animes_label_date_wrapper {
  display: flex;
  align-items: center;
}

#top_animes_label_wrapper {
  display: flex;
  width: 30%;
  font-family: var(--title-font);
  font-size: large;
}

#top_animes_date_wrapper {
  width: 70%;
}

.top_anime_top_info_wrapper {
  display: flex;
}

.top_anime_top_info_wrapper > div {
  background: var(--accent-color);
  border-radius: 0.3rem;
  padding: 5px;
  margin: 0 5px;
  font-size: 10px;
  font-family: var(--title-font);
  font-weight: 600;
  color: var(--primary-color);
}

.top_anime_top_info_wrapper > .top_anime_rank_wrapper {
  background: var(--third-color);
}

.top_anime_top_info_wrapper > .top_anime_status_wrapper {
  color: var(--accent-color);
  background: none;
}

#top_animes_date_btns_wrapper {
  display: flex;
  background-color: var(--highlight-color);
  border-radius: 0.3rem;
  width: 100%;
  padding: 2.5px 0;
}

#top_animes_date_btns_wrapper > button {
  border-radius: 0.3rem;
  width: 100%;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease-in-out;
}

#top_animes_date_btns_wrapper > button:focus,
#top_animes_date_btns_wrapper > button:focus,
#top_animes_date_btns_wrapper > button:active {
  background-color: var(--third-color);
  transition: all 0.5s ease-in-out;
}

.top_wrapper > ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 870px) {
  #top_animes_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #top_animes_date_btns_wrapper {
    padding: 2.5px 0;
  }

  #top_animes_wrapper > div {
    width: 70%;
  }
}
