{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet" />
    <title>{{SITE_NAME}}</title>
    <style>
      * {
        box-sizing: border-box;
      }
      
      body {
        margin: 0;
        padding: 0;
      }

      .dark-theme {
        background-color: #1c1919; /* Dark background color */
        color: #fff; /* Light text color */
      }

      img {
        width: 100px;
        max-width: 100%;
      }
    </style>
  </head>
  <body>
  </body>
</html>
