{% if site_data.settings.footer.value == True %}
    <footer class="main-footer">
      <div class="inner-con">
        <div class="letter-nav-con">
          <div class="letter-nav-label-con">
            A-Z List <span>Searching anime order by alphabet name A to Z.</span>
          </div>
          <nav class="letter-nav">
            <ul class="letter-list">
              <li class="letter-item">
                <a href="/latino/filter" class="letter-link">All</a>
              </li>
              {% for item in latanime_queries.alphabet_options %}
                {% if forloop.counter0 != 0 %}
                <li class="letter-item">
                  <a href="/latino/filter?letter={{item.value}}" class="letter-link">{{item.name}}</a>
                </li>
                {% endif %}
              {% endfor %}

            </ul>
          </nav>
        </div>
        <div class="site-details-con">
          <div class="inner-site-details-con">
            <div class="title-socials-con">
              <div class="title-con">
                {% include "widgets/title.html" %}
              </div>
              {% if site_data.settings.socials.value == True %}
              <div class="socials-con">
                <div class="socials-list">
                  <p class="socials-join-label">Join Now</p>
                  <div class="inner-socials-list">
                    {% for key, item in site_data.values.socials.items %}
                      {% if item.name == 'donate' %}
                      <span class="social-item">
                        <a href="{% if site_data.settings.donation.value == True %}{{item.value}}{% else %}#donate{% endif %}" class="social-link">
                          <i class="fas fa-{{item.name}}"></i>
                        </a>
                      </span>
                      {% else %}
                      <span class="social-item">
                        <a href="{{item.value}}" class="social-link">
                          <i class="fab fa-{{item.name}}"></i>
                        </a>
                      </span>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
            <div class="bottom-con">
              <div class="inner-con">
                <p>
                  &copy; 2023 {{site_data.values.inputs.site_name.value}}. All rights reserved. <!-- |<a href="#">Terms of Service</a> |
                  <a href="#">Privacy Policy</a> -->
                </p>
                {% if site_data.settings.contact.value %} <p>Contact: {{site_data.values.inputs.email.value}}</p> {% endif %}
                <p>This site does not store any files on its server. All contents are provided by non-affiliated third parties.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    {% endif %}
