<header class="main-header">
  <div class="header-viewer-con">
    {% include "widgets/title.html" %}
    {% include "sections/anime/nav.html" %}
    <div class="search-account-con">
      <div class="inner-search-account-con">
        {% include "widgets/search.html" %}
        <a href="/main/filter/" class="filter-link"><i class="fa fa-filter" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="account-profile-image-con">
      {% if is_auth == True %}
      <a href="/user/{{user.username}}" class="profile-link">
        <img src="{{user.profile_image_url}}" alt="{{user.username}}" class="profile-image-con">
      </a>
      {% else %}
      <span class="anon-user-con login-btn">
        <i class="fa fa-user"></i>
      </span>
      {% endif %}
    </div>
    <div class="menu-btn-con mobile-menu-btn-con">
      <button type="button" class="menu-btn">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </div>
  <div class="mobile-viewer-con" data-open="false">
    {% include "sections/anime/nav.html" %}
    <div class="user-btns-con">
      <div class="user-action-btn-con">
        {% if is_auth == True %}
          <button class="user-action-btn" data-type="logout">logout</button>
        {% else %}
          <button class="user-action-btn" data-type="login">login</button>
        {% endif %}
      </div>
      <div class="account-profile-image-con">
        {% if is_auth == True %}
        <a href="/user/{{user.username}}" class="profile-link">
          <img src="{{user.profile_image_url}}" alt="{{user.username}}" class="profile-image-con">
        </a>
        {% else %}
        <span class="anon-user-con login-btn">
          <i class="fa fa-user"></i>
        </span>
        {% endif %}
      </div>
    </div>
    <div class="search-account-con">
      <div class="inner-search-account-con">
        {% include "widgets/search.html" %}
        <a href="/main/filter/" class="filter-link"><i class="fa fa-filter" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</header>