<div class="nav-bar-con">
  <nav class="main-nav-bar">
    <ul>
      <li class="nav-link-item"><a href="/main/filter" class="nav-link"><i class="fa fa-film"></i> Animes</a></li>
      {% if site_data.settings.schedule.value == True %}
      <li class="nav-link-item"><a href="/main/schedule/" class="nav-link"><i class="fa fa-calendar"></i> Calendario</a></li>
      {% endif %}
      {% if site_data.settings.watch_togather.value == True %}
      <li class="nav-link-item"><a href="/watch_rooms" class="nav-link"><i class="fa-solid fa-tower-broadcast"></i> Watch2gather</a></li>
      {% endif %}
      {% if site_data.settings.random.value == True %}
      <li class="nav-link-item"><a href="/random" class="nav-link"> <i class="fa fa-random"></i> random</a></li>
      {% endif %}
      <!-- <li class="nav-link-item"><a href="/donation" class="nav-link"> <i class="fa fa-donate"></i> donation</a></li> -->
      <!-- <li class="nav-link-item"><a href="#footer_socials" class="nav-link"> <i class="fa fa-share-alt"></i> share</a></li> -->
    </ul>
  </nav>
</div>
