.animes_wrapper {
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.animes_wrapper .anime_wrapper {
  width: 19% !important;
  min-width: none;
  min-height: none;
}

.active_anime_wrapper {
  display: flex;
}

@media (max-width: 500px) {
  #recent_label_toggle_btns_wrapper {
    display: flex;
    flex-direction: column;
  }

  #browsing_toggle_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  #anime_browsing_wrapper > #animes_wrapper .anime_wrapper {
    display: flex;
    min-width: 45%;
    padding: 0 2%;
  }
}

@media (max-width: 300px) {
  #anime_browsing_wrapper > #animes_wrapper .anime_name_cover {
    font-size: 12px;
  }

  .toggle_link {
    font-size: 10px;
  }
}
