#genres_wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.genre_wrapper {
  background-color: var(--secondary-highlight-color);
  width: 200px;
  border-radius: 0.3rem;
  margin: 5px 1px;
  padding: 10px;
  transition: all 0.5s ease-in-out;
}

.genre_wrapper > a {
  display: flex;
  text-decoration: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--secondary-color);
}

.genre_animes_num {
  font-size: 10px;
  font-family: var(--accent-color);
  background-color: var(--third-color);
  border-radius: 0.2rem;
  padding: 2px;
}

.genre_wrapper:hover {
  background-color: var(--third-color);
  transition: all 1s ease-in-out;
}

.genre_name {
  font-weight: 600;
}
