:root {
  --primary-font: "Dosis", sans-serif;
  --primary-color: #fff;
  --secondary-color: #000;
  --third-color: #7f009c;
  --label-font:'Bebas Neue', sans-serif;
  --accent-color: #575652;
  --secondary-accent-color: #34003b;
}

body {
  margin: 0;
}

input, input::placeholder {
  font-size: 15px;
  font-family: var(--primary-font);
}


button {
    cursor: pointer;
    outline: none;
    border: none;
}

.page-content {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--primary-font);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  /* position: relative; */
}

.alert-box {
    display: none;
    position: absolute;
    background: var(--primary-color);
    padding: 10px 5px;
    top: 100px;
    right: 43%;
    font-size: 15px;
    font-weight: 600;
    border-radius: .25rem;
    box-shadow: 0 0 20px #00000050;
    color: var(--third-color);
    z-index: 5;
    text-transform: capitalize;
}

.page-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000030;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    top: 0;
    left: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  min-height: 451px;
}

footer.main-footer .small-logo-con {
  display: none;
}

footer.main-footer .normal-logo-con {
  display: flex;
}

footer.main-footer {
  color: var(--primary-color);
  background: var(--third-color);
  width: 100%;
}

footer.main-footer a {
  color: var(--accent-color);
}

a.home-link.title-link {
  display: flex;
  justify-content: center;
}

.bottom-con > .inner-con {
  font-size: 10px;
}

.bottom-con > .inner-con > p {
  text-align: center;
}

@media screen and (min-width: 768px) {

  .header-viewer-con .nav-bar-con {
      width: 72%;
  }

  .title-con {
      display: flex;
      align-items: center;
  }

  .header-viewer-con .search-account-con {
      justify-content: center;
      width: 40%;
      align-items: center;
  }

  .header-viewer-con .search-account-con a.filter-link {
      height: 75%;
  }

  .main-footer > .inner-con {
      flex-direction: row;
      gap: 20px;
  }

  .bottom-con > .inner-con {
      flex-direction: row;
      gap: 20px;
      padding: 0;
  }


  .bottom-con > .inner-con > p {margin: 0;}

  .bottom-con {
      display: flex;
      align-items: end;
  }
}
