:root {
  --primary-font: "Dosis", sans-serif;
  --primary-color: #fff;
  --secondary-color: #000;
  --third-color: #7f009c;
  --label-font:'Bebas Neue', sans-serif;
  --accent-color: #575652;
  --secondary-accent-color: #34003b;
}

body {
  margin: 0;
}

input, input::placeholder {
  font-size: 15px;
  font-family: var(--primary-font);
}


button {
    cursor: pointer;
    outline: none;
    border: none;
}

.page-content {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--primary-font);
  background-color: var(--primary-color);
  color: #000;
  /* position: relative; */
}

.alert-box {
    display: none;
    position: absolute;
    background: var(--primary-color);
    padding: 10px 5px;
    top: 100px;
    right: 43%;
    font-size: 15px;
    font-weight: 600;
    border-radius: .25rem;
    box-shadow: 0 0 20px #00000050;
    color: var(--third-color);
    z-index: 5;
    text-transform: capitalize;
}

.page-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000030;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    top: 0;
    left: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  min-height: 451px;
}