:root {
  --primary-font: "Dosis", sans-serif;
  --label-font:'Bebas Neue', sans-serif;
  --primary-color: #fff;
  --secondary-color: #000;
  --third-color: #7f009c;
  --label-font:'Bebas Neue', sans-serif;
  --accent-color: #575652;
  --secondary-accent-color: #34003b;
}

body {
  margin: 0;
  overflow-x: hidden;
}

input, input::placeholder {
  font-size: 15px;
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

input::placeholder {
  color: var(--accent-color);
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    font-family: var(--primary-font);
    font-size: 15px;
}

.page-content {
  display: flex;
  flex-wrap: wrap;
  font-family: var(--primary-font);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  /* position: relative; */
}

.recaptcha-outer-con {
    display: flex;
    justify-content: center;
    z-index: 1;
}

.alert-box {
    background: var(--secondary-highlight-color);
    padding: 10px 5px;
    font-size: 15px;
    font-weight: 600;
    border-radius: .25rem;
    box-shadow: 0 0 20px #00000050;
    color: var(--third-color);
    z-index: 10;
    text-transform: capitalize;
    min-width: 40px;
}

.outer-alert-box {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10px;
    position: fixed;
    top: 80px;
    box-sizing: border-box;
}

.page-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000030;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    top: 0;
    left: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  min-height: 451px;
  width: 100%;
}

footer.main-footer .small-logo-con {
  display: none;
}

footer.main-footer .normal-logo-con {
  display: flex;
}

footer.main-footer {
  color: var(--primary-color);
  background: var(--third-color);
  width: 100%;
}

footer.main-footer a {
  color: var(--accent-color);
}

a.home-link.title-link {
  display: flex;
  justify-content: center;
}

.bottom-con > .inner-con {
  font-size: 10px;
}

.bottom-con > .inner-con > p {
  text-align: center;
}

.pages-ticks {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--highlight-color);
    width: 35px;
    height: 30px;
    font-size: small;
}


.hl-ele {
    background: var(--third-color) !important;
    color: var(--primary-color);
}

.pagination-btn.page-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    border-radius: 100%;
    text-decoration: none;
    color: var(--secondary-color);
    height: 100%;
    width: 100%;
}

li.first-pages-ticks.pages-ticks {
    border-radius: .5rem 0 0 .5rem;
}

li.last-pages-ticks.pages-ticks {
    border-radius: 0 .5rem .5rem 0;
}

.pagination-con ul {
    display: flex;
    justify-content: center;
    padding: 0;
    /* margin: 0; */
}


input[type="checkbox"] {
  opacity: 0;
  display: none;
}

/*checkbox 1 start */
.checkbox-1-con {
  border: 2px solid var(--accent-color);
  width: 15px;
  height: 15px;
  display: block;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
}

label.checkbox-1-label {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

label.checkbox-1-label::before {
  content: "";
  background: var(--accent-color);
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  inset: 0;
  margin: auto;
  transform: scale(0);
  transition: 0.25s;
}

.checkbox-1:checked + label.checkbox-1-label::before {
  transform: scale(1);
}
/*checkbox 1 end */

/*checkbox 2 start */
.checkbox-2-con {
  width: 30px;
  height: 20px;
  border-radius: 30px;
  overflow: hidden;
}

label.checkbox-2-label {
  display: block;
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  position: relative;
  transition: 250ms;
  cursor: pointer;
}

label.checkbox-2-label:before {
  content: "";
  width: 10px;
  height: 10px;
  background: var(--third-color);
  position: absolute;
  border-radius: 100%;
  inset: 0;
  margin: auto 0px;
  left: 4px;
  transition: ease-in 250ms;
}

.checkbox-2:checked + label.checkbox-2-label:before {
  left: 15px;
  background: var(--secondary-color);
}

.checkbox-2:checked + label.checkbox-2-label {
  background: var(--third-color);
}
/*checkbox 2 end */


@media screen and (min-width: 768px) {

  .header-viewer-con .nav-bar-con {
      width: 72%;
  }

  .title-con {
      display: flex;
      align-items: center;
  }

  .header-viewer-con .search-account-con {
      justify-content: center;
      width: 40%;
      align-items: center;
  }

  .header-viewer-con .search-account-con a.filter-link {
      height: 75%;
  }

  .bottom-con > .inner-con {
      flex-direction: row;
      gap: 20px;
      padding: 0;
  }


  .bottom-con > .inner-con > p {margin: 0;}

  .bottom-con {
      display: flex;
      align-items: end;
  }
}
