<div class="inner-animes-con">
	<h3 class="animes-label-con">
		{% if icon != False  %}<i class="fa-solid fa-fire"></i>{% endif %} {{label}}
	</h3>
	<div class="animes-con">
		<div class="inner-con">
			<ul>
				{% for anime in animes %}
				<li class="anime-con">
					<a href="/anime/sub/{{slug}}" class="anime-link">
						<div class="inner-anime-con">
							<div class="anime-poster-con">
								<img src="" alt="anime name" class="anime-poster">
							</div>
							<span class="anime-title">anime name</span>
						</div>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>