{% load filters %}
<div class="auth-con" data-open="false">
  <span class="close-btn"><i class="fa-solid fa-x"></i></span>
  <div class="inner-auth-con">
    <div class="top-waves-con waves-con">  
      {% with class="top-form-waves" %}
        {% include "widgets/waves.html" %}
      {% endwith %}
    </div>
    <div class="site-logo-text-con">
      <div class="site-logo-con">
        {% include "widgets/title.html" %}
      </div>
    </div>
    <div class="forms-con">
      {% for auth, items in auths.items %}
      <div class="form-con{% if forloop.counter == 1 %} active{% endif %}" data-type="{{auth}}">
          <form action="post">
              <div class="auth-inputs-con">
                <div class="auth-text">
                  {{auth|replace:"_, "|title}}
                </div> 
                {% for value in items %}
                  {% with type=value.input placeholder=value.key|title value="" key=value.key icon=value.icon %}
                    <div class="auth-outer-input-con">
                      {% include "widgets/icon_input.html" %}
                    </div>
                  {% endwith %}
                {% endfor %}
                <div class="submit-btn-con">
                  <button class="submit-btn" type="button" data-type="{{auth}}">submit</button>
                  {% if auth == "login" or auth == "signup" %}
                    <p class="signup-login-text">
                      I {% if auth == "login" %}dont {% endif %}have an account <span class="auth-link" data-type="{{auth}}">{% if auth == "login" %}signup{% else %}login{% endif %}</span>
                    </p> 
                  {% endif %}
                </div>
                {% if auth == "login" %}
                <div class="forgot-btn-con">
                  <button class="forgot-btn" type="button" data-type="{{auth}}">forgot password</buttonk>
                </div>
                {% endif %}
              </div>
          </form>
      </div>
      {% endfor %}
    </div>
    <div class="bottom-waves-con waves-con">          
      {% with class="bottom-form-waves" %}
        {% include "widgets/waves.html" %}
      {% endwith %}
    </div>
  </div>
</div>