{% if site_data.settings.comments.value == True %}
{% with height=site_data.scripts.ads_scripts.above_comments_advertisement.height value=site_data.scripts.ads_scripts.above_comments_advertisement.value %}
  {% include "widgets/ad_wrapper.html" %}
{% endwith %}
<div class="comment-section" style="margin-top: 20px;">
    <div id="disqus_thread"></div>
<script>
    const PAGE_URL = "{{PAGE_URL}}"
    const PAGE_IDENTIFIER = "{{PAGE_ID}}"

    let disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://animehoshitest.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{% endif %}
