<div class="watch-room-modal-con">
	<div class="inner-con inner-watch-room-modal-con">
		<button class="watch-room-modal-close-btn"><i class="fa-solid fa-x"></i></button>
		<div class="watch-room-modal-form-con">
			<form action="post" class="watch-room-form">
				<div class="watch-room-inputs-con">
	                <div class="watch-room-hidden-inputs-con" style="display: none;">  
	                {% for input in room_inputs %}
	                  {% with type=input.input value=input.value key=input.key %}
	                    	<input type="{{type}}" value="{{value}}" data-key="{{key}}" class="hidden-input watch-room-input">
	                  {% endwith %}
	                {% endfor %}
	                </div>
	                <div class="unlimited-private-con">
	                	<div class="unlimited-con">
				            {% with class="room-checkbox-input" name="unlimited" value="false" %}
				              {% include 'widgets/checkbox.html' %}
				            {% endwith %}
	                    	<input type="number" data-key="unlimited" value="0" class="watch-room-input">
	                	</div>
	                	<div class="private-con">
				            {% with class="room-checkbox-input" name="private" value="false" %}
				              {% include 'widgets/checkbox.html' %}
				            {% endwith %}
	                	</div>
	                </div>
				</div>
			</form>
		</div>
	</div>
</div>