{% load static %}
<link
  rel="stylesheet"
  href="/static/css/sections/coming_section.css"
/>
<div id="coming_sections_btns_wrapper">
  <div id="coming_toggle_btns_wrapper">
        <button data-wrapper="premieres" type="button" id="premieres_btn" class="coming_toggle_btns">
            New releases
        </button>
        <button data-wrapper="upcoming" type="button" id="upcoming_btn" class="coming_toggle_btns">
            Upcoming
        </button>
        <button data-wrapper="complete" type="button" id="complete_btn" class="coming_toggle_btns">
            Complete
        </button>
  </div>
  <div id="coming_sections_wapper">
    <div id="premieres_wrapper" class="coming_section_wrapper">
      <div id="premieres_label_wrapper" class="label_wrapper">
        NEW RELEASES
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </div>
      <div id="premieres_coming_wrapper" class="coming_wrapper">
      </div>
    </div>
    <div id="upcoming_wrapper" class="coming_section_wrapper">
      <div id="upcoming_label_wrapper" class="label_wrapper">
        UPCOMING
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </div>
      <div id="upcoming_coming_wrapper" class="coming_wrapper">
      </div>
    </div>
    <div id="complete_wrapper" class="coming_section_wrapper active_section_wrapper">
      <div id="complete_label_wrapper" class="label_wrapper">
        COMPLETE
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </div>
      <div id="complete_coming_wrapper" class="coming_wrapper">
      </div>
    </div>
  </div>
</div>
