{% load static %}
<link
    rel="stylesheet"
    href="/static/css/sections/feature_slider.css"
/>
<div id="feature_slider_wrapper">
    <div id="slider_outter_wrapper">
		<div id="inner_slider">
			<div id="slider_inner_wrapper" class="slider_inner_wrapper">
			</div>
		</div>
		<div  class="slider_btns_wrapper">
			<div data-type="previous" role="button" id="prev_btn">
				<img src="/static/images/left-arrow.svg" width="20px" height="20px" alt="left arrow icon" >
			</div>
			<div data-type="next" role="button" id="next_btn">
				<img src="/static/images/right-arrow.svg" width="20px" height="20px" alt="right arrow icon">
			</div>
		</div>
    </div>
</div>