{% load static %}
<div id="filter_wrapper">
  <div id="filter_items_wrapper">
    <div class="outter_filter_item_wrapper">
      <div data-item="genre" class="filter_act_btn filter_label_value_wrapper">
        <div class="filter_label_wrapper">Genre</div>
        <div data-item="genre" class="filter_value_wrapper">All</div>
      </div>
      <div class="inner_filter_item_wrapper"  data-open="false" id="genre_inner_filter_item_wrapper">
        <ul>
          {% for i in data.genres %}
          <il class="filter_item">
            <div class="outter_item_wrapper">
              <label class="check_outter_mark" for="genre_{{forloop.counter}}">
                <input
                  data-item="genre"
                  value="{{forloop.counter}}"
                  type="checkbox"
                  id="genre_{{forloop.counter}}"
                  class="genre_check_input item_check_input"
                />
                <span class="check_inner_mark">
                  <img
                    src="/static/images/tick.svg"
                    alt="tick icon"
                    class="check_tick"
                  />
                </span>
              </label>
              <label
                for="genre_{{forloop.counter}}"
                class="item_label genre_item_label"
                >{{i}}</label
              >
            </div>
          </il>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="outter_filter_item_wrapper">
      <div data-item="type" class="filter_act_btn filter_label_value_wrapper">
        <div class="filter_label_wrapper">Type</div>
        <div data-item="type" class="filter_value_wrapper">All</div>
      </div>
      <div class="inner_filter_item_wrapper"  data-open="false" id="type_inner_filter_item_wrapper">
        <ul>
          {% for i in data.type %}
          <il class="filter_item">
            <div class="outter_item_wrapper">
              <label class="check_outter_mark" for="type_{{forloop.counter}}">
                <input
                  data-item="type"
                  value="{{forloop.counter}}"
                  type="checkbox"
                  id="type_{{forloop.counter}}"
                  class="type_check_input item_check_input"
                />
                <span class="check_inner_mark">
                  <img
                    src="/static/images/tick.svg"
                    alt="tick icon"
                    class="check_tick"
                  />
                </span>
              </label>
              <label
                for="type_{{forloop.counter}}"
                class="item_label type_item_label"
                >{{i}}</label
              >
            </div>
          </il>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="outter_filter_item_wrapper">
      <div data-item="season" class="filter_act_btn filter_label_value_wrapper">
        <div class="filter_label_wrapper">Season</div>
        <div data-item="season" class="filter_value_wrapper">All</div>
      </div>
      <div class="inner_filter_item_wrapper"  data-open="false" id="season_inner_filter_item_wrapper">
        <ul>
          {% for i in data.seasons %}
          <il class="filter_item">
            <div class="outter_item_wrapper">
              <label
                class="check_outter_mark"
                for="seasons_{{forloop.counter}}"
              >
                <input
                  data-item="seasons"
                  value="{{forloop.counter}}"
                  type="checkbox"
                  id="seasons_{{forloop.counter}}"
                  class="seasons_check_input item_check_input"
                />
                <span class="check_inner_mark">
                  <img
                    src="/static/images/tick.svg"
                    alt="tick icon"
                    class="check_tick"
                  />
                </span>
              </label>
              <label
                for="seasons_{{forloop.counter}}"
                class="item_label seasons_item_label"
                >{{i}}</label
              >
            </div>
          </il>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="outter_filter_item_wrapper">
      <div data-item="years" class="filter_act_btn filter_label_value_wrapper">
        <div class="filter_label_wrapper">Year</div>
        <div data-item="years" class="filter_value_wrapper">All</div>
      </div>
      <div class="inner_filter_item_wrapper"  data-open="false" id="years_inner_filter_item_wrapper">
        <ul>
          {% for i in data.years %}
          <il class="filter_item">
            <div class="outter_item_wrapper">
              <label class="check_outter_mark" for="years_{{forloop.counter}}">
                <input
                  data-item="years"
                  value="{{i}}"
                  type="checkbox"
                  id="years_{{forloop.counter}}"
                  class="years_check_input item_check_input"
                />
                <span class="check_inner_mark">
                  <img
                    src="/static/images/tick.svg"
                    alt="tick icon"
                    class="check_tick"
                  />
                </span>
              </label>
              <label
                for="years_{{forloop.counter}}"
                class="item_label years_item_label"
                >{{i}}</label
              >
            </div>
          </il>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="outter_filter_item_wrapper">
      <div data-item="status" class="filter_act_btn filter_label_value_wrapper">
        <div class="filter_label_wrapper">Status</div>
        <div data-item="status" class="filter_value_wrapper">All</div>
      </div>
      <div class="inner_filter_item_wrapper"  data-open="false" id="status_inner_filter_item_wrapper">
        <ul>
          {% for i in data.status %}
          <il class="filter_item">
            <div class="outter_item_wrapper">
              <label class="check_outter_mark" for="status_{{forloop.counter}}">
                <input
                  data-item="status"
                  value="{{forloop.counter}}"
                  type="checkbox"
                  id="status_{{forloop.counter}}"
                  class="status_check_input item_check_input"
                />
                <span class="check_inner_mark">
                  <img
                    src="/static/images/tick.svg"
                    alt="tick icon"
                    class="check_tick"
                  />
                </span>
              </label>
              <label
                for="status_{{forloop.counter}}"
                class="item_label status_item_label"
                >{{i}}</label
              >
            </div>
          </il>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="outter_filter_item_wrapper">
      <div data-item="language" class="filter_act_btn filter_label_value_wrapper">
        <div class="filter_label_wrapper">Language</div>
        <div data-item="language" class="filter_value_wrapper">All</div>
      </div>
      <div class="inner_filter_item_wrapper"  data-open="false" id="language_inner_filter_item_wrapper">
        <ul>
          {% for i in data.languages %}
          <il class="filter_item">
            <div class="outter_item_wrapper">
              <label
                class="check_outter_mark"
                for="languages_{{forloop.counter}}"
              >
                <input
                  data-item="languages"
                  value="{{forloop.counter}}"
                  type="checkbox"
                  id="languages_{{forloop.counter}}"
                  class="languages_check_input item_check_input"
                />
                <span class="check_inner_mark">
                  <img
                    src="/static/images/tick.svg"
                    alt="tick icon"
                    class="check_tick"
                  />
                </span>
              </label>
              <label
                for="languages_{{forloop.counter}}"
                class="item_label languages_item_label"
                >{{i}}</label
              >
            </div>
          </il>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div id="filter_side_bar_wrapper">
    <input placeholder="search" type="text" id="filter_inp" />
    <button type="button" id="filter_btn">
      <i class="fa fa-filter" aria-hidden="true"></i>
      Filter
    </button>
  </div>
</div>
