<header class="page_header">
  <div class="top_side">
    <div class="menu_btn_wrapper">
      <button type="button" class="menu_btn">
        <img src="/static/images/menu_bars.svg" alt="menu">
      </button>
    </div>
    <div class="title_wrapper">
      <a href="/" class="title_link">
    		<img div="title_logo" src="/static/images/title_logo.png" alt="AnimeHoshi logo">
      </a>
    </div>
    <div class="outter_search_wrapper">
      <div class="search_wrapper">
        <div class="search_input_wrapper">
          <button type="button" class="search_btn" class="search_btns">
            <img src="/static/images/search.svg" width="20px" height="20px" alt="close icon" class="search_icon">
          </button>
          <input class="search_input" class="search_inp" placeholder="search anime..." type="query" name="search"/>
          <a href="/" class="filter_link">
            <img src="/static/images/filter.svg" width="20px" height="20px" alt="filter"> filter
          </a>
        </div>
        <div class="search_items_wrapper" class="search_items_wrapper">
    	   <div class="search_loader_wrapper" class="search_loader_wrapper">
    	      <div class="loader_two_wrapper">
    		     <div class="loader_two"></div>
    	      </div>
    	   </div>
          <ul class="search_list_wrapper">
          </ul>
    	   <a href="/home" class="search_view_all_wrapper" data-open="false">
    			view all
    	   </a>
        </div>
      </div>
    </div>
    <nav class="header_nav">
      <div class="header_nav_wrapper">
        <div class="nav_item">
          <a href="/catalogue" class="nav_link">
            Catálogo
          </a>
        </div>
        <div class="nav_item">
          <a href="/donate" class="nav_link">
            donar
          </a>
        </div>
        <div class="nav_item">
          <a href="/random" class="nav_link">
            aleatorio
          </a>
        </div>
        <div class="nav_item">
          <a href="/watch_togather" class="nav_link">
            ver juntos
          </a>
        </div>
      </div>
    </nav>
  </div>
  <div class="bottom_side">
    <div class="mobile_search_wrapper">
      <div class="outter_search_wrapper">
        <div class="search_wrapper">
          <div class="search_input_wrapper">
            <button type="button" class="search_btns">
              <img src="/static/images/search.svg" width="20px" height="20px" alt="close icon" class="search_icon">
            </button>
            <input class="search_input" placeholder="search anime..." type="query" name="search"/>
            <a href="" class="filter_link">
              <img src="/static/images/filter.svg" width="20px" height="20px" alt="filter"> filter
            </a>
          </div>
          <div class="search_items_wrapper">
            <ul class="search_list_wrapper">
            </ul>
      	   <a href="/home" class="search_view_all_wrapper" data-open="false">
      			view all
      	   </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
