<div class="browsing_wrapper">
  <div class="outter_animes_wrapper">
    <div class="label_wrapper">
      <span class="label">
        Recent Episodes
      </span>
      <div class="more_wrapper">
        <a href="/filter?p=1&type=1" class="more_link">
          more
        </a>
      </div>
    </div>
    <div class="inner_animes_wrapper" data-wrapper="recent_episodes">
    </div>
  </div>
  <div class="outter_animes_wrapper">
    <div class="label_wrapper">
      <span class="label">
        Movies
      </span>
      <div class="more_wrapper">
        <a href="/filter?p=1&type=2" class="more_link">
          more
        </a>
      </div>
    </div>
    <div class="inner_animes_wrapper" data-wrapper="movies">
    </div>
  </div>
  <div class="outter_animes_wrapper">
    <div class="label_wrapper">
      <span class="label">
        Recent Latino Episodes
      </span>
      <div class="more_wrapper">
        <a href="/latino-filter?p=1" class="more_link">
          more
        </a>
      </div>
    </div>
    <div class="inner_animes_wrapper" data-wrapper="recent_latino_episodes">
    </div>
  </div>
  <div class="outter_animes_wrapper">
    <div class="label_wrapper">
      <span class="label">
        Specials
      </span>
      <div class="more_wrapper">
        <a href="/filter?p=1&type=4" class="more_link">
          more
        </a>
      </div>
    </div>
    <div class="inner_animes_wrapper" data-wrapper="specials">
    </div>
  </div>
</div>
