<div class="outter_slider_wrapper">
  <div class="inner_slider_wrapper">
    <div class="slides_wrapper">
      <ul>
        <li class="slide_item">
          <div class="slide_wrapper">
            <div class="slide_poster_wrapper">
              <img src="https://img.freepik.com/premium-photo/poster-game-samurai_625492-5588.jpg?w=360" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa" class="slide_poster">
            </div>
            <div class="slide_info_wrapper">
              <div class="des_wrapper">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni dicta necessitatibus repellendus autem, asperiores repellat quaerat eveniet cumque. Architecto sequi, sed neque. Fuga accusamus perferendis explicabo cupiditate cumque, aut repellat.
              </div>
              <div class="title_wrapper">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit
              </div>
            </div>
          </div>
        </li>
        <li class="slide_item">
          <div class="slide_wrapper">
            <div class="slide_poster_wrapper">
              <img src="https://img.freepik.com/premium-photo/poster-game-samurai_625492-5588.jpg?w=360" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa" class="slide_poster">
            </div>
            <div class="slide_info_wrapper">
              <div class="des_wrapper">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni dicta necessitatibus repellendus autem, asperiores repellat quaerat eveniet cumque. Architecto sequi, sed neque. Fuga accusamus perferendis explicabo cupiditate cumque, aut repellat.
              </div>
              <div class="title_wrapper">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit
              </div>
            </div>
          </div>
        </li>
        <li class="slide_item">
          <div class="slide_wrapper">
            <div class="slide_poster_wrapper">
              <img src="https://img.freepik.com/premium-photo/poster-game-samurai_625492-5588.jpg?w=360" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa" class="slide_poster">
            </div>
            <div class="slide_info_wrapper">
              <div class="des_wrapper">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni dicta necessitatibus repellendus autem, asperiores repellat quaerat eveniet cumque. Architecto sequi, sed neque. Fuga accusamus perferendis explicabo cupiditate cumque, aut repellat.
              </div>
              <div class="title_wrapper">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit
              </div>
            </div>
          </div>
        </li>
        <li class="slide_item">
          <div class="slide_wrapper">
            <div class="slide_poster_wrapper">
              <img src="https://img.freepik.com/premium-photo/poster-game-samurai_625492-5588.jpg?w=360" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa" class="slide_poster">
            </div>
            <div class="slide_info_wrapper">
              <div class="des_wrapper">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni dicta necessitatibus repellendus autem, asperiores repellat quaerat eveniet cumque. Architecto sequi, sed neque. Fuga accusamus perferendis explicabo cupiditate cumque, aut repellat.
              </div>
              <div class="title_wrapper">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="slider_btns_wrapper">
      <button type="button" class="slider_btn">
        <img src="/static/images/left-arrow.svg" alt="left">
      </button>
      <button type="button" class="slider_btn">
        <img src="/static/images/right-arrow.svg" alt="right">
      </button>
    </div>
  </div>
</div>
