<div class="browsing_wrapper">
  <div class="outter_animes_wrapper">
    <div class="label_wrapper">
      Recent Animes
    </div>
    <div class="inner_animes_wrapper" data-wrapper="recent_tv">
    </div>
  </div>
  <div class="outter_animes_wrapper">
    <div class="label_wrapper">
      Movie Animes
    </div>
    <div class="inner_animes_wrapper" data-wrapper="movies">
    </div>
  </div>
  <div class="outter_animes_wrapper">
    <div class="label_wrapper">
      Recent Latino Animes
    </div>
    <div class="inner_animes_wrapper" data-wrapper="recent_latino_tv">
    </div>
  </div>
  <div class="outter_animes_wrapper">
    <div class="label_wrapper">
      Special Animes
    </div>
    <div class="inner_animes_wrapper" data-wrapper="specials">
    </div>
  </div>
</div>
