<div class="menu_wrapper">
  <div class="menu_cb_wrapper">
    <span role="button" class="cb_button">
      close menu
    </span>
  </div>
  <ul>
    <li class="menu_item">
      <a href="/home" class="menu_item_link">
        Home
      </a>
    </li>
    <li class="menu_item">
      <a href="/latino-filter?p=1" class="menu_item_link">
        Latino
      </a>
    </li>
    <li class="menu_item">
      <a href="/filter?p=1&type=1" class="menu_item_link">
        TV
      </a>
    </li>
    <li class="menu_item">
      <a href="/filter?p=1&type=2" class="menu_item_link">
        Movies
      </a>
    </li>
    <li class="menu_item">
      <a href="/filter?p=1&type=3" class="menu_item_link">
        Ova
      </a>
    </li>
    <li class="menu_item">
      <a href="/filter?p=1&type=4" class="menu_item_link">
        Special
      </a>
    </li>
    <li class="menu_item">
      <a href="/filter?p=1&status=1" class="menu_item_link">
        Airing
      </a>
    </li>
    <li class="menu_item">
      <a href="/filter?p=1&status=2" class="menu_item_link">
        Complete
      </a>
    </li>
    <li class="menu_item">
      <a href="/filter?p=1&status=3" class="menu_item_link">
        Upcoming
      </a>
    </li>
    <li class="menu_item genre_item">
      <div class="outter_genres_wrapper">
        <div class="label_genre_wrapper">
          Genres <i class="fa-solid fa-plus"></i>
        </div>
        <div class="genres_wrapper">
          <ul>
            <li class="genre">
              <a href="/filter?p=1&genre=accion" class="genre_link">
                accion
              </a>
            </li>
            <li class="genre">
              <a href="/filter?p=1&genre=accion" class="genre_link">
                accion
              </a>
            </li>
            <li class="genre">
              <a href="/filter?p=1&genre=accion" class="genre_link">
                accion
              </a>
            </li>
            <li class="genre">
              <a href="/filter?p=1&genre=accion" class="genre_link">
                accion
              </a>
            </li>
            <li class="genre">
              <a href="/filter?p=1&genre=accion" class="genre_link">
                accion
              </a>
            </li>
            <li class="genre">
              <a href="/filter?p=1&genre=accion" class="genre_link">
                accion
              </a>
            </li>
            <li class="genre">
              <a href="/filter?p=1&genre=accion" class="genre_link">
                accion
              </a>
            </li>
            <li class="genre">
              <a href="/filter?p=1&genre=accion" class="genre_link">
                accion
              </a>
            </li>
            <li class="genre">
              <a href="/filter?p=1&genre=accion" class="genre_link">
                accion
              </a>
            </li>
            <li class="genre">
              <a href="/filter?p=1&genre=accion" class="genre_link">
                accion
              </a>
            </li>
            <li class="genre">
              <a href="/filter?p=1&genre=accion" class="genre_link">
                accion
              </a>
            </li>
            <li class="genre">
              <a href="/filter?p=1&genre=accion" class="genre_link">
                accion
              </a>
            </li>
          </ul>
        </div>
      </div
    </li>
  </ul>
</div>
