<div id="player_label_iframe_wrapper">
	{% if global_data.attributes.page_ads != False %}
		{% if data.user.is_vip != True %}
			{% if site_data.scripts.page_ad.script != "" %}
				{% if site_data.scripts.page_ad.fluid != True %}
					{% if site_data.scripts.page_ad.height != 0 %}
					<div class="ad_wrapper watch_ad_wrapper" style="display: block !important; height: {{site_data.scripts.page_ad.height}}px !important;">
						{{site_data.scripts.page_ad.script|safe}}
					</div>
					{% else %}
					<div class="ad_wrapper watch_ad_wrapper" style="display: block !important; height: auto !important;">
						{{site_data.scripts.page_ad.script|safe}}
					</div>
					{% endif %}
				{% else %}
					<div class="ad_wrapper watch_ad_wrapper" style="display: block !important;">
						{{site_data.scripts.page_ad.script|safe}}
					</div>
				{% endif %}
			{% endif %}
		{% endif %}
	{% endif %}
		
	{% if site_data.watch_notice != "" %}
		<div id="outter_annoucement_wrapper">
			<div id="inner_annoucement_wrapper">{{site_data.watch_notice|safe}}</div>
		</div>
	{% endif %}
  <div id="outter_player_iframe_wrapper">
    <div id="player_iframe_wrapper"></div>
    <div id="player_loader_wrapper">
      {% include 'app/widgets/loader_two.html' %}
    </div>
  </div>
  {% if global_data.attributes.watch_player_buttons == True %}
  <div id="player_iframe_acts_wrapper">
    <div id="next_prev_btn_wrapper">
      <button type="button" data-type="2" class="next_prev_btn">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </button>
      <button type="button" data-type="1" class="next_prev_btn">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
    </div>
    <div id="inner_player_btn_wrapper">
		<div id="anime_btns_wrapper">
		  <div class="outter_players_btn_wrapper">
			<div class="players_text">
			  Like
			</div>
			<div class="inner_players_btn_wrapper">
				<input class="radio_btn" type="checkbox" data-id="likes_list" id="likes_list" />
				<label class="inner_radio_wrapper" for="likes_list"></label>
			</div>
		  </div>
		  <div class="outter_players_btn_wrapper">
			<div class="players_text">
			  list
			</div>
			<div class="inner_players_btn_wrapper">
				<input class="radio_btn" type="checkbox" data-id="watch_list" id="watch_list" />
				<label class="inner_radio_wrapper" for="watch_list"></label>
			</div>
		  </div>
		</div>
		<div id="player_btns_wrapper">
		  <div class="outter_players_btn_wrapper">
			<div class="players_text">
			  Autostart
			</div>
			<div class="inner_players_btn_wrapper">
				{% if user_settings.autostart == "True" %}
					<input class="radio_btn" checked type="checkbox" data-id="autostart" id="autostart" />
				{% else %}
					<input class="radio_btn" type="checkbox" data-id="autostart" id="autostart" />
				{% endif %}
				<label class="inner_radio_wrapper" for="autostart"></label>
			</div>
		  </div>
		  <div class="outter_players_btn_wrapper">
			<div class="players_text">
			  AutoNext
			</div>
			<div class="inner_players_btn_wrapper">
				{% if user_settings.auto_next == "True" %}
					<input class="radio_btn" checked type="checkbox" data-id="auto_next" id="auto_next" />
				{% else %}
					<input class="radio_btn" type="checkbox" data-id="auto_next" id="auto_next" />
				{% endif %}
				<label class="inner_radio_wrapper" for="auto_next"></label>
			</div>
		  </div>
		  <div class="outter_players_btn_wrapper">
			<div class="players_text">
			  SkipIntro
			</div>
			<div class="inner_players_btn_wrapper">
				{% if user_settings.auto_skip_intro == "True" %}
					<input class="radio_btn" checked type="checkbox" data-id="auto_skip_intro" id="auto_skip_intro" />
				{% else %}
					<input class="radio_btn" type="checkbox" data-id="auto_skip_intro" id="auto_skip_intro" />
				{% endif %}
				<label class="inner_radio_wrapper" for="auto_skip_intro"></label>
			</div>
		  </div>
		  <div class="outter_players_btn_wrapper">
			<div class="players_text">
			  SkipOutro
			</div>
			<div class="inner_players_btn_wrapper">
				{% if user_settings.auto_skip_outro == "True" %}
					<input class="radio_btn" checked type="checkbox" data-id="auto_skip_outro" id="auto_skip_outro" />
				{% else %}
					<input class="radio_btn" type="checkbox" data-id="auto_skip_outro" id="auto_skip_outro" />
				{% endif %}
				<label class="inner_radio_wrapper" for="auto_skip_outro"></label>
			</div>
		  </div>
		</div>
    </div>
  </div>
  {% endif %}
  <div id="servers_btns_text_wrapper">
    <div id="server_label_text_wrapper">
	 {% if global_data.attributes.episode_notice == True %}
      <div id="cation_text_wrapper">
        <p>
          You are watching
          <span id="episode_text"></span>
        </p>
        <p>
          If the current server is giving you any issues please switch servers or refresh page
        </p>
      </div>
	   {% endif %}
      <div class="servers_btns_wrapper">
		  <div class="servers_btns_outter_wrapper" data-type="sub" style="display: none;">
			  <div class="servers_label_outter_wrapper">
				<img src="/static/cc_2.svg" class="lang_icon"> Sub
			  </div>
			  <div class="servers_btns_inner_wrapper" data-type="sub">
			  </div>
		  </div>
		  <div class="servers_btns_outter_wrapper" data-type="dub" style="display: none;">
			  <div class="servers_label_outter_wrapper">
				<img src="/static/mic_2.svg" class="lang_icon"> Dub
			  </div>
			  <div class="servers_btns_inner_wrapper" data-type="dub">
			  </div>
		  </div>
      </div>
    </div>
    <div id="next_episode_text_wrapper"></div>
  </div>
  <div id="outter_anime_eps_wrapper">
    <div id="anime_episodes_label_wrapper">
      <div id="anime_episoedes_acts_wrapper">
        <div id="anime_eps_wrapper">
          <div id="anime_eps_label_btns_wrapper"></div>
          <div
            id="anime_eps_btns_wrapper"
            class="scroll_wrapper"
            data-open="false"
          ></div>
        </div>
        <div id="anime_eps_nav_btns_wrapper">
			<span role="button" class="anime_eps_nav_btn" data-id="previous">
				<i class="fa fa-arrow-left" aria-hidden="true" style="color: var(--secondary-color);"></i>
			</span>
			<span role="button" class="anime_eps_nav_btn" data-id="previous">
				<i class="fa fa-arrow-right" aria-hidden="true" style="color: var(--secondary-color);"></i>
			</span>
        </div>
      </div>
      <div id="outter_episodes_btn_wrapper">
        <div id="anime_episodes_btns_wrapper"></div>
        <div id="inner_anime_eps_nav_inp_wrapper">
			<div id="anime_eps_nav_inp_wrapper">
			  <input
				type="number"
				placeholder="ep"
				name="anime_eps"
				id="anime_eps_nav_inp"
			  />
			</div>
			<!-- <span role="button" class="anime_eps_nav_btn" data-id="go"> -->
				<!-- GO -->
			<!-- </span> -->
		</div>
        <div id="load_anime_episodes_wrapper">
          {% include 'app/widgets/loader_two.html' %}
        </div>
      </div>
    </div>
  </div>
  <div id="outter_other_films_wrapper">
    <div id="inner_other_films_wrapper" class="scroll_wrapper">
		{% for i in data.anime_data.related_animes %}
		<div class="other_anime_wrapper">
          <a href="/watch/{{i.slug}}" class="other_anime_link">
            <div class="other_item_image_wrapper">
              <img src="{{i.image_url}}" alt="{{i.title}}" class="other_item_image" />
            </div>
            <div class="other_item_details_wrapper">
              <div class="other_name_des_wrapper">
                <p class="other_item_name">{{i.title|truncatechars:30}}</p>
              </div>
            </div>
          </a>
        </div>
		{% endfor %}
	</div>
  </div>
</div>
