{% load static %}
<link rel="stylesheet" href="/static/schedule.css" />
<div id="outter_schedule_wrapper" style="display: none;">
  <div id="inner_schedule_wrapper">
    <div id="top_schedule_wrapper">
      <div id="schedule_bg_img_wrapper">
		{% if site_data.schedule_background_image != "" %}
			<img
			  src="{{site_data.schedule_background_image}}"
			  alt="schedule background image"
			  width="100px"
			  height="100px"
			  id="schedule_bg_img"
			/>
		{% else %}
			<img
			  src="/static/images/schedule_background_image.png"
			  alt="schedule background image"
			  width="100px"
			  height="100px"
			  id="schedule_bg_img"
			/>
		{% endif %}
      </div>
      <div id="outter_time_date_wrapper">
        <div id="time_date_label_wrapper">Estimated Schedule</div>
        <div id="inner_time_date_wrapper"></div>
      </div>
      <div id="outter_slider_wrappper">
        <div class="swiper" id="schedule_swiper">
          <div id="schedule_dates_wrapper" class="swiper-wrapper">
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
    <div id="mid_schedule_wrapper">
      <div id="first_schedule_wrapper"></div>
      <div id="second_schedule_wrapper"></div>
    </div>
    <div id="bottom_schedule_wrapper">
      <div id="show_btn_wrapper">
        <button id="show_btn" data-open="false">show more</button>
      </div>
    </div>
  </div>
</div>
