{% load static %}
<div id="top_animes_wrapper">
    <div id="top_animes_label_date_wrapper">
        <div id="top_animes_label_wrapper">
            Top animes 
        </div>
        <div id="top_animes_date_wrapper">
            <div id="top_animes_date_btns_wrapper">
                <button data-toggle="day" type="button" class="date_btns active_ele">
                    Day
                </button>
                <button data-toggle="week" type="button" class="date_btns">
                    Week
                </button>
                <button data-toggle="month" type="button" class="date_btns">
                    Month
                </button>
            </div>
        </div>
    </div>
    <div id="top_animes_list_wrapper">
        <div id="top_day_wrapper" class="top_wrapper active_top_wrapper">
        </div>
        <div id="top_week_wrapper" class="top_wrapper">
        </div>
        <div id="top_month_wrapper" class="top_wrapper">
        </div>
    </div>
    <div class="side_bar_ad_banner">
    </div>
</div>

