<div id="watch_browsing_wrapper">
    <div id="related_animes_wrapper">
		{% if global_data.attributes.page_ads != False %}
			{% if data.user.is_vip != True %}
					{% if site_data.scripts.second_page_ad.script != "" %}
						{% if site_data.scripts.second_page_ad.fluid != True %}
							{% if site_data.scripts.second_page_ad.height != 0 %}
							<div class="ad_wrapper browsing_ad_wrapper" style="display: block !important; height: {{site_data.scripts.second_page_ad.height}}px !important;">
								{{site_data.scripts.second_page_ad.script|safe}}
							</div>
							{% else %}
							<div class="ad_wrapper browsing_ad_wrapper" style="display: block !important; height: auto !important;">
								{{site_data.scripts.second_page_ad.script|safe}}
							</div>
							{% endif %}
						{% else %}
							<div class="ad_wrapper browsing_ad_wrapper" style="display: block !important;">
								{{site_data.scripts.second_page_ad.script|safe}}
							</div>
						{% endif %}
					{% endif %}
			{% endif %}
		{% endif %}
        <div id="related_animes_label_wrapper" class="anime_label_wrapper">
            Related animes 
        </div>
        <div id="related_animes_list_wrapper" class="anime_list_wrapper">
        </div>
    </div>
    <div id="trending_animes_wrapper">
     <div id="trending_animes_label_wrapper" class="anime_label_wrapper">
         Trending animes 
     </div>
     <div id="trending_animes_list_wrapper" class="anime_list_wrapper">
     </div>
    </div>
</div>
