:root {
    --primary-color: #0e0e0e;
    --secondary-color: #fff;
    --primary-font: "Nunito", sans-serif;
    --highlight-color: #1c1c1c;
    --secondary-highlight-color: #2b2929;
}

.scrollable-ele::-webkit-scrollbar {
  width: 12px;
}

.scrollable-ele::-webkit-scrollbar-track {
  background: var(--highlight-color);    
}

.scrollable-ele::-webkit-scrollbar-thumb {
  background-color: var(--third-color);    
  border-radius: 20px;      
  border: 3px solid var(--highlight-color);  
}

.page-content {
    color: var(--secondary-color);
}

.notice-con {
  background: var(--secondary-highlight-color);
  border-radius: 0 0 .35rem .35rem;
}

.notice {
  text-align: center;
}

button {
    color: var(--secondary-color);
}

.inner-con {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.site-logo.small-logo {
    display: none;
}

img.site-logo.normal-logo {
    position: relative;
    top: -5px;
    width: 100px;
}

.header-viewer-con {
    display: flex;
    justify-content: space-between;
}

.header-viewer-con nav.main-nav-bar > ul {
    display: flex;
    gap: 15px;
    padding: 0 10px;
}

a.nav-link > i {
    font-size: larger;
}

.header-viewer-con .nav-bar-con,
.header-viewer-con .account-profile-image-con,
.header-viewer-con .search-account-con {
    display: none;
}

header.main-header {
    position: relative;
    width: 100%;
    padding: 0px 15px;
    background: var(--highlight-color);
}

.header-viewer-con .nav-bar-con {
    width: 72%;
}

.title-con {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-search-account-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);
    width: 100%;
    height: 35px;
    margin-right: 5px;
    border-radius: .5rem;
}

.header-viewer-con .search-account-con {
    justify-content: center;
    width: 50%;
    align-items: center;
}

.mobile-search-con.search-account-con {
    margin: 10px 0;
}

.header-viewer-con a.nav-link {
    color: var(--secondary-color);
}

.header-viewer-con .search-account-con a.filter-link {
    height: 75%;
}

.mobile-viewer-con {
    display: none;
    flex-direction: column;
    gap: 15px;
    padding: 0 10px 10px 10px;
    position: absolute;
    top: 60px;
    z-index: 2;
    background: var(--highlight-color);
    width: calc(100% - 30px);
    max-width: 230px;
    border-radius: .2rem;
    font-size: small;
    box-sizing: border-box;
}

.menu-btn-con.mobile-menu-btn-con {
    display: flex;
    align-items: center;
}

.menu-btn-con.mobile-menu-btn-con i {
    font-size: medium;
}

button.open-search-btn {
    background: none;
}

button.menu-btn {
    background: none;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.user-btns-con {
    display: flex;
    justify-content: space-around;
}

button.user-action-btn {
    width: 100px;
    padding: 10px 20px;
    font-size: small;
    font-family: var(--primary-font);
    border-radius: .25rem;
    background: var(--secondary-highlight-color);
}

span.anon-user-con.login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--third-color);
    cursor: pointer;
}

.account-profile-image-con {
    display: flex;
    align-items: center;
}

img.profile-image-con {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: solid 1px var(--third-color);
}

nav.main-nav-bar > ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

a.nav-link {
    display: flex;
    align-items: center;
    gap: 9px;
    color: var(--secondary-color);
    text-decoration: none;
    padding: 12px 0;
    text-wrap: nowrap;
    width: 100%;
    color: var(--accent-color);
}

li.nav-link-item {
    display: flex;
    justify-content: center;
    width: 100%;
}

.search-account-con {
    display: flex;
    justify-content: center;
}

.search-items-con {
    display: none;
}

a.filter-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    width: 40px;
    text-decoration: none;
    border-radius: 0 .5rem .5rem 0;
}

button.search-btn {
    color: var(--secondary-color);
    background: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem 0 0 0.5rem;
}

.search-input-con {
    display: flex;
}

input.search-input {
    width: 100%;
    background: no-repeat;
    outline: none;
    border: none;
    color: var(--secondary-color);
    padding: 5px;
}

input.search-input::placeholder {
    color: var(--secondary-color);
}

.outter-search-con {
    width: 80%;
}

.bottom-con > .inner-con > p {
    font-size: 11px;
    font-weight: 100;
}

.bottom-con {
    color: var(--secondary-color);
}


/* watch_room_modal */
.watch-room-modal-con {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #000000cf;
    top: 0;
    left: 0;
}

.inner-con.inner-watch-room-modal-con {
    width: calc(100% - 10px);
    border-radius: .25rem;
    box-sizing: border-box;
    background: var(--secondary-accent-color);
}

.inner-con.inner-watch-room-modal-con {
    position: relative;
}

textarea.watch-room-input {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    outline: none;
    background: none;
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-size: 18px;
}

p.text-limit {
    margin: 0;
    text-align: end;
}


.watch-room-modal-con {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #000000cf;
    top: 0;
    left: 0;
}

.inner-con.inner-watch-room-modal-con {
    width: calc(100% - 10px);
    border-radius: .25rem;
    box-sizing: border-box;
    max-width: 450px;
    background: var(--highlight-color);
}

.inner-con.inner-watch-room-modal-con {
    position: relative;
}

button.watch-room-modal-close-btn  {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

textarea.watch-room-input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    outline: none;
    background: var(--secondary-highlight-color);
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-size: medium;
    margin-top: 10px;
    border: solid 1px var(--secondary-color);
    border-radius: 0.15rem;
}

p.text-limit {
    margin: 0;
    text-align: end;
}


.unlimited-private-con {
    display: flex;
    justify-content: space-around;
}

.unlimited-con {
    display: flex;
    align-items: center;
    gap: 10px;
}

.watch-room-inputs-con {
    font-size: small;
}

.check-label-con {
    display: flex;
    gap: 10px;
}

p.check-label {
    margin: 0;
}

.unlimited-con input.watch-room-input {
    width: 15px;
    background: var(--secondary-highlight-color);
    outline: none;
    border: solid 1px var(--accent-color);
    border-radius: .2rem;
}

.unlimited-con input.watch-room-input::-webkit-outer-spin-button,
.unlimited-con input.watch-room-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.unlimited-con input.watch-room-input[type=number] {
  -moz-appearance: textfield;
}

.create-room-btn-con {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button.create-watch-room-btn {
    background: var(--third-color);
    width: 100%;
    padding: 4px;
    font-size: small;
    border-radius: .25rem;
}
/* watch_room_modal */

footer.main-footer a {
    color: var(--secondary-color);
}

footer.main-footer {
    background: var(--highlight-color);
}

.letter-nav-con {
    display: none;
}

ul.letter-list {display: flex;justify-content: start;flex-wrap: wrap;gap: 10px;list-style: none;margin: 0;padding: 0;}

nav.letter-nav {
    margin: 20px 0;
}

.letter-nav-label-con {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    color: var(--secondary-color);
    font-size: 20px;
}

.letter-nav-label-con > span {
    color: var(--accent-color);
    font-size: 12px;
}

a.letter-link {
    text-decoration: none;
    padding: 5px 10px;
    background: var(--secondary-highlight-color);
    border-radius: .4rem;
    transition: background .5s ease-in-out;
}

a.letter-link:hover {
    background: var(--third-color);
    transition: background .5s ease-in-out;
}

li.letter-item {
    margin: 5px 0;
}

ul.socials-list {display: flex;justify-content: center;gap: 10px;list-style: none;padding: 0;margin: 0;}

.socials-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background: var(--secondary-color);
    margin: 10px 0;
    padding: 0 20px;
    border-radius: 1000px;
}

.socials-con {
    display: flex;
    justify-content: center;
}

p.socials-join-label {
    font-weight: 600;
}

a.social-link > i {
    color: var(--primary-color);
}

/*
@media screen and (min-width: 480px) {
}*/

/*@media screen and (min-width: 600px) {
}
*/
@media screen and (min-width: 768px) {
    .header-viewer-con .nav-bar-con {
        display: flex;
        justify-content: end;
    }

    .mobile-viewer-con .nav-bar-con {
        display: none;
    }

    .mobile-viewer-con {
        padding: 10px;
        top: 70px;
    }

    .header-viewer-con a.nav-link {
        justify-content: center;
        border: none;
        font-size: 14px;
        border-radius: 50px;
    }

    .letter-nav-con {
        display: flex;
        flex-direction: column;
    }

    .inner-site-details-con {
        width: 70%;
    }

    .title-socials-con {
        display: flex;
        gap: 10px;
    }

    .bottom-con > .inner-con {
        flex-direction: column !important; 
        align-items: start;
    }

    .bottom-con > .inner-con > p {
        text-align: start;
        text-wrap: nowrap;
    }

}

/*
@media screen and (min-width: 901px) {
}

*/

@media screen and (min-width: 1024px) {
    .header-viewer-con .nav-bar-con,
    .header-viewer-con .account-profile-image-con,
    .header-viewer-con .search-account-con {
        display: flex;
    }

    .menu-btn-con.mobile-menu-btn-con {
        display: none;
    
    }
    .header-viewer-con {
        justify-content: start;
    }

    .core-content {
        width: 85%;
    }

    main.main-content {
        display: flex;
        align-items: center;
    }

}

/*
@media screen and (min-width: 1200px) {
}

*/