.auth-con {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: #000000b0;
    z-index: 2;
}

span.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 100%;
    z-index: 2;
    cursor: pointer;
    background: none;
}

.inner-auth-con {
    width: calc(100% - 10px);
    max-width: 500px;
    background: var(--highlight-color);
    border-radius: .5rem;
    position: relative;
}

.auth-bg-img-con {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img.auth-bg-img {max-height: 400px;opacity: .275;}


.top-form-waves > svg.waves {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.waves_animate {
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    height: 100%;
    width: 280px;
}

.bottom-form-waves.waves_animate {
    bottom: 0;
    left: 0;
}

.waves-con {
    display: flex;
    max-height: 115px;
}

.top-waves-con.waves-con {
    justify-content: end;
}

.bottom-waves-con.waves-con {
    justify-content: start;
}


.form-con {
    display: none;
    padding: 50px 0px;
}

.form-con.active {
    display: block;
}

.forms-con {
    padding: 0 10px;
}

.auth-sub-text {
    color: var(--accent-color);
    font-size: small;
    font-weight: 800;
}

.icon-con > i {
    font-size: small;
    color: var(--accent-color);
}

.icon-input-con {
    /* position: relative; */
    display: flex;
    gap: 20px;
    padding: 5px 10px;
    justify-content: space-between;
    border: solid 1px var(--accent-color);
    border-radius: .15rem;
    /* z-index: 1; */
    background: var(--secondary-highlight-color);
}

.inner-input-con {
    width: 100%;
    position: relative;
}


input.icon-input {
    width: 90%;
    font-size: small;
    border: none;
    outline: none;
    background: none;
    color: var(--secondary-color);
}

input.icon-input::placeholder {
  color: var(--accent-color);
    font-size: small;
  font-family: var(--primary-font);
}

.icon-con {
    display: flex;
    align-items: center;
}

.auth-inputs-con {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.inner-auth-con .site-logo-con {
    display: flex;
    justify-content: center;
}

.auth-text {
    display: flex;
    justify-content: start;
    font-size: xx-large;
}

button.submit-btn {
    background: var(--third-color);
    font-size: small;
    font-family: var(--primary-font);
    padding: 10px;
    border-radius: .35rem;
    width: 100%;
}

.submit-btn-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    z-index: 1;
}

span.auth-link {
    color: var(--third-color);
    cursor: pointer;
    font-weight: 600;
}

p.signup-login-text {
    font-size: small;
}

.forgot-btn-con {
    display: flex;
    justify-content: center;
    z-index: 1;
}

button.forgot-btn {
    background: #00000000;
    color: var(--third-color);
    text-decoration: underline;
    font-size: small;
    font-family: var(--primary-font);
    font-weight: 600;
}