{% extends "bases/anime.html" %}
{% load filters %}

{% block head_content %}
<script defer>
	const parentWindow = window.parent
	const roomId = "{{room_id}}"
	let roomCode = ""
	const cacheID = "room_code***" + roomId 
 	function getRoomCode() {
		if (roomCode) return 
		roomCode = parentWindow?.getRoomCode() || "{{room_code}}";
	}
	const liveChatBase = "{% if '127.0.0.1' in live_chat_base or 'localhost' in live_chat_base %}http://{{live_chat_base}}{% else %}https://{{live_chat_base}}{% endif %}"
	const userName = "{% if username %}{{username}}{% else %}None{% endif %}"
	const userLiveChatId = "{{user_live_chat_id}}"
	const profileImg = "{{profile_image}}"
</script>
{% endblock %}

{% block main_content_2 %}
	<div class="inner-con inner-main-content" style="padding: 0;">
		<div class="outter-chat-con">
			<div class="inner-chat-con">
				<div class="chat-label">
					Room Chat
				</div>
				<div class="chat-msgs-box scrollable-ele">
				</div>
				<div class="chat-msg-box">
					<div class="inner-chat-msg-box">
					  <input class="send-msg-box" placeholder="send message" type="text">
					  <button class="send-msg-btn">send</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
