{% extends "bases/anime.html" %}
{% load filters %}

{% block head_content %}
  {{site_data.scripts.head_scripts.home_head.value|safe}}
{% endblock %}

{% block foot_content %}
  {{site_data.scripts.foot_scripts.home_head.value|safe}}
{% endblock %}

{% block main_content %}
	<div class="inner-con inner-main-content">
		{% if site_data.settings.features.value == True %}
			<div class="features-con">
				<div class="slider-con">
					<div class="features-swiper swiper">
					  <div class="features-swiper-wrapper swiper-wrapper">
						{% for anime in data.latanime.features %}
			           		{% with background=anime.background_image_url title=anime.slug|replace:"/, "|replace:"-, "|title poster=anime.preview_image_url slug=anime.slug description=anime.description %}
							    <div class="features-swiper-slide swiper-slide {% if forloop.counter == 1 %}active{% endif %}">
							    	<div class="feature-con">
							    		<div class="background-image-con">
							    			<img src="{{background}}" alt="{{title}} background-image" class="background-image">
							    		</div>
							    		<div class="anime-info-con">
							    			<div class="left-side-con">
							    				<div class="details-con">
							    					<p class="title">
							    						{{title}}
								    				</p>
								    				<p class="description">
								    					{{description}}
								    				</p>		
							    				</div>
							    				<a href="/latino/anime{{slug}}" class="watch-link">Ver ahora</a>
							    			</div>
							    			<div class="right-side">
							    				<img src="{{poster}}" class="features-poster" alt="{{title}}">
							    			</div>
							    		</div>
							    	</div>
							    </div>
			           		{% endwith %}
						{% endfor %}
					  </div>

					  <div class="features-swiper-button swiper-button-prev">
					    <i class="fas fa-chevron-left"></i>
					  </div>

					  <div class="features-swiper-button swiper-button-next">
					    <i class="fas fa-chevron-right"></i>
					  </div>
					  <!-- <div class="swiper-pagination"></div> -->
					</div>
				</div>
			</div>
		{% endif %}
    {% if site_data.values.inputs.notice.value %}
		<div class="notice-con">
			<p class="notice">{{site_data.values.inputs.notice.value}}</p>
		</div>
		{% endif %}

    {% with height=site_data.scripts.ads_scripts.middle_advertisement.height value=site_data.scripts.ads_scripts.middle_advertisement.value %}
      {% include "widgets/ad_wrapper.html" %}
    {% endwith %}
		<div class="outter-animes-con">
           {% with label="Animes Recientes" animes=data.tioanime.episodes episodes=True type="main" %}
           		{% include "pages/anime/widgets/animes_wrapper.html" %}
           {% endwith %}
           {% if site_data.settings.home_animes.value == True %}
	           {% with label="Últimos Animes" ribbon=True animes=data.tioanime.animes episodes=False type="main" %}
	           		{% include "pages/anime/widgets/animes_wrapper.html" %}
	           {% endwith %}
           {% endif %}
           {% with label="Animes Recientes latinos" animes=data.latanime.episodes episodes=True type="latino" %}
           		{% include "pages/anime/widgets/animes_wrapper.html" %}
           {% endwith %}
		</div>
	</div>
{% endblock %}
