{% extends "bases/anime.html" %}
{% load filters %}

{% block head_content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.css" integrity="sha512-pmAAV1X4Nh5jA9m+jcvwJXFQvCBi3T17aZ1KWkqXr7g/O2YMvO8rfaa5ETWDuBvRq6fbDjlw4jHL44jNTScaKg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.js" integrity="sha512-hRhHH3+D9xVKPpodEiYzHWIG8CWbCjp7LCdZ00K3/6xsdC3iT0OlPJLIwxSMEl07gya1Ae8iAqXjMMLpzqqh0w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer>
  const swiper = new Swiper('.swiper', {
	  direction: 'horizontal',
	  loop: true,
		slidesPerView: 1,
	  // pagination: {
	  //   el: '.swiper-pagination',
	  // },
	  navigation: {
	    nextEl: '.swiper-button-next',
	    prevEl: '.swiper-button-prev',
	  },
	});
</script>
{% endblock %}

{% block main_content %}
	<div class="inner-con inner-main-content">
		<div class="features-con">
			<div class="slider-con">
				<div class="features-swiper swiper">
				  <div class="features-swiper-wrapper swiper-wrapper">
					{% for anime in data.latanime.features %}
		           		{% with background=anime.background_image_url title=anime.slug|replace:"/, "|replace:"-, "|title poster=anime.preview_image_url slug=anime.slug description=anime.description %}
						    <div class="features-swiper-slide swiper-slide">
						    	<div class="feature-con">
						    		<div class="background-image-con">
						    			<img src="{{background}}" alt="{{title}} background-image" class="background-image">
						    		</div>
						    		<div class="anime-info-con">
						    			<div class="left-side-con">
						    				<div class="details-con">
						    					<p class="title">
						    						{{title}}
							    				</p>
							    				<p class="description">
							    					{{description}}
							    				</p>		
						    				</div>
						    				<a href="/latino/anime{{slug}}" class="watch-link">Watch Now</a>
						    			</div>
						    			<div class="right-side">
						    				<img src="{{poster}}" class="features-poster" alt="{{title}}">
						    			</div>
						    		</div>
						    	</div>
						    </div>
		           		{% endwith %}
					{% endfor %}
				  </div>

				  <div class="features-swiper-button swiper-button-prev">
				    <i class="fas fa-chevron-left"></i>
				  </div>

				  <div class="features-swiper-button swiper-button-next">
				    <i class="fas fa-chevron-right"></i>
				  </div>
				  <!-- <div class="swiper-pagination"></div> -->
				</div>
			</div>
		</div>
		<div class="outter-animes-con">
           {% with label="Anime Episodios" animes=data.tioanime.episodes episodes=True type="main" %}
           		{% include "pages/anime/widgets/animes_wrapper.html" %}
           {% endwith %}
           {% with label="Animes" animes=data.tioanime.animes episodes=False type="latino" %}
           		{% include "pages/anime/widgets/animes_wrapper.html" %}
           {% endwith %}
           {% with label="Anime Latino Episodios" animes=data.latanime.episodes episodes=True type="latino" %}
           		{% include "pages/anime/widgets/animes_wrapper.html" %}
           {% endwith %}
		</div>
	</div>
{% endblock %}
