{% extends "bases/anime.html" %}
{% load filters %}

{% block head_content %}
{% endblock %}

{% block main_content %}
	<div class="inner-con inner-main-content">
		<h2 class="title">{{data.episode_title}}</h2>
		<div class="player-con">
			<div class="inner-con iframe-con">
				<iframe src="{{first_embed.link}}" data-src="{{first_embed.link}}" frameborder="0" class="player"></iframe>
			</div>
		</div>
		<div class="act-btns-con">
			{% include "pages/anime/widgets/watch_togather.html" %}
			{% include "pages/anime/widgets/add_to_list.html" %}
		</div>
		<div class="servers-links-con">
			<div class="servers-embed-label">
				<div class="servers-label">
					Servers
				</div>
				<div class="server-links-con">
					{% for server in data.embed_links %}
						{% with link=server.link name=server.name %}
							{% include "pages/anime/widgets/server_wrapper.html" %}
						{% endwith %}
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="episodes-con">
			<h4 class="episodes-label">episodes</h4>
			<div class="inner-episodes-con">
				<ul>
					{% if type == "main" %}
						{% for value in episodes %}
							{% with title=value.episode_title slug=value.slug %}
								<li class="episode-item">
									<a href="/{{type}}/watch{{slug}}" class="episode-link">{{title}}</a>
								</li>
							{% endwith %}
						{% endfor %}
					{% else %}
						{% for value in episodes %}
							{% with title=value|replace:"/, "|replace:"-, "|title slug=value %}
								<li class="episode-item">
									<a href="/{{type}}/watch{{slug}}" class="episode-link">{{title}}</a>
								</li>
							{% endwith %}
						{% endfor %}
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
