{% extends 'app/admin_base.html' %}
{% load static %}

{% block page_meta_data %} 
<title>
  Advance Settings | As2anime Admin Panel
</title>
<script defer src="/static/js/pages/advance_settings.js"></script>
{% endblock %}

{% block page_content %}
<div id="advance_settings_wrapper" class="container-fluid">
	<div class="outter_settings_wrapper">
		<div class="settings_label_wrapper">
			Advance Settings
		</div>
		<div class="card card-block card-stretch card-height files-table settings_radio_btns_wrapper">     
			<div class="card-body pt-0">
				<div class="inner_settings_wrapper">
					<div class="features_input_wrapper">
						<div class="outter_input_wrapper">
						  <div class="settings_input_label_wrapper">
							  User
						  </div>
						  <div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_attributes.user == True %}
										<input class="radio_btn" checked type="checkbox" data-id="user" id="user" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="user" id="user" />
									{% endif %}
									<label class="inner_radio_wrapper" for="user"></label>
								</div>
						  </div> 
					  </div>
						<div class="outter_input_wrapper">
						  <div class="settings_input_label_wrapper">
							  Coming Sections
						  </div>
						  <div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_attributes.coming_sections == True %}
										<input class="radio_btn" checked type="checkbox" data-id="coming_sections" id="coming_sections" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="coming_sections" id="coming_sections" />
									{% endif %}
									<label class="inner_radio_wrapper" for="coming_sections"></label>
								</div>
						  </div>
					  </div>
					  <div class="outter_input_wrapper">
						  <div class="settings_input_label_wrapper">
							  Preload
						  </div>
						  <div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_attributes.preload == True %}
										<input class="radio_btn" checked type="checkbox" data-id="preload" id="preload" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="preload" id="preload" />
									{% endif %}
									<label class="inner_radio_wrapper" for="preload"></label>
								</div>
						  </div>
					  </div>
					  <div class="outter_input_wrapper">
						  <div class="settings_input_label_wrapper">
							  Maintanance
						  </div>
						  <div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_attributes.maintanance == True %}
										<input class="radio_btn" checked type="checkbox" data-id="maintanance" id="maintanance" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="maintanance" id="maintanance" />
									{% endif %}
									<label class="inner_radio_wrapper" for="maintanance"></label>
								</div>
						  </div>
					  </div>
					  <div class="outter_input_wrapper">
						  <div class="settings_input_label_wrapper">
							  Landing Page
						  </div>
						  <div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_attributes.landing_page == True %}
										<input class="radio_btn" checked type="checkbox" data-id="landing_page" id="landing_page" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="landing_page" id="landing_page" />
									{% endif %}
									<label class="inner_radio_wrapper" for="landing_page"></label>
								</div>
						  </div>
					  </div>
					  <div class="outter_input_wrapper">
						  <div class="settings_input_label_wrapper">
							  Donate Page
						  </div>
						  <div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_attributes.donate_page == True %}
										<input class="radio_btn" checked type="checkbox" data-id="donate_page" id="donate_page" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="donate_page" id="donate_page" />
									{% endif %}
									<label class="inner_radio_wrapper" for="donate_page"></label>
								</div>
						  </div>
					  </div>
					  <div class="outter_input_wrapper">
						  <div class="settings_input_label_wrapper">
							  Home Slider 
						  </div>
						  <div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_attributes.home_slider == True %}
										<input class="radio_btn" checked type="checkbox" data-id="home_slider" id="home_slider" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="home_slider" id="home_slider" />
									{% endif %}
									<label class="inner_radio_wrapper" for="home_slider"></label>
								</div>
						  </div>
					  </div>
					  <div class="outter_input_wrapper">
						  <div class="settings_input_label_wrapper">
							  Home Schedule 
						  </div>
						  <div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_attributes.home_schedule == True %}
										<input class="radio_btn" checked type="checkbox" data-id="home_schedule" id="home_schedule" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="home_schedule" id="home_schedule" />
									{% endif %}
									<label class="inner_radio_wrapper" for="home_schedule"></label>
								</div>
						  </div>
					  </div>
					  <div class="outter_input_wrapper">
						  <div class="settings_input_label_wrapper">
							  Watch Player Buttons
						  </div>
						  <div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_attributes.watch_player_buttons == True %}
										<input class="radio_btn" checked type="checkbox" data-id="watch_player_buttons" id="watch_player_buttons" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="watch_player_buttons" id="watch_player_buttons" />
									{% endif %}
									<label class="inner_radio_wrapper" for="watch_player_buttons"></label>
								</div>
						  </div>
					  </div>
					  <div class="outter_input_wrapper">
						  <div class="settings_input_label_wrapper">
							  Watch Comments
						  </div>
						  <div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_attributes.watch_comments == True %}
										<input class="radio_btn" checked type="checkbox" data-id="watch_comments" id="watch_comments" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="watch_comments" id="watch_comments" />
									{% endif %}
									<label class="inner_radio_wrapper" for="watch_comments"></label>
								</div>
						  </div>
					  </div>
					  <div class="outter_input_wrapper">
						  <div class="settings_input_label_wrapper">
							  Player Poster
						  </div>
						  <div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_attributes.player_poster == True %}
										<input class="radio_btn" checked type="checkbox" data-id="player_poster" id="player_poster" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="player_poster" id="player_poster" />
									{% endif %}
									<label class="inner_radio_wrapper" for="player_poster"></label>
								</div>
							</div>
					  </div>
					  <div class="outter_input_wrapper">
						  <div class="settings_input_label_wrapper">
							  Top Animes
						  </div>
						  <div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_attributes.top_animes == True %}
										<input class="radio_btn" checked type="checkbox" data-id="top_animes" id="top_animes" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="top_animes" id="top_animes" />
									{% endif %}
									<label class="inner_radio_wrapper" for="top_animes"></label>
								</div>
						  </div>
					  </div>
					  <div class="outter_input_wrapper">
						  <div class="settings_input_label_wrapper">
							  Base Footer
						  </div>
						  <div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_attributes.base_footer == True %}
										<input class="radio_btn" checked type="checkbox" data-id="base_footer" id="base_footer" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="base_footer" id="base_footer" />
									{% endif %}
									<label class="inner_radio_wrapper" for="base_footer"></label>
								</div>
						  </div>
					  </div>
					  <div class="outter_input_wrapper">
						  <div class="settings_input_label_wrapper">
							  Socials
						  </div>
						  <div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_attributes.socials == True %}
										<input class="radio_btn" checked type="checkbox" data-id="socials" id="socials" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="socials" id="socials" />
									{% endif %}
									<label class="inner_radio_wrapper" for="socials"></label>
								</div>
						  </div>
					  </div>
					  <div class="outter_input_wrapper">
						  <div class="settings_input_label_wrapper">
							  Episode Notice
						  </div>
						  <div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_attributes.episode_notice == True %}
										<input class="radio_btn" checked type="checkbox" data-id="episode_notice" id="episode_notice" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="episode_notice" id="episode_notice" />
									{% endif %}
									<label class="inner_radio_wrapper" for="episode_notice"></label>
								</div>
						  </div>
					  </div>
					  <div class="outter_input_wrapper">
						  <div class="settings_input_label_wrapper">
							  Dark Mode
						  </div>
						  <div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_attributes.dark_mode == True %}
										<input class="radio_btn" checked type="checkbox" data-id="dark_mode" id="dark_mode" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="dark_mode" id="dark_mode" />
									{% endif %}
									<label class="inner_radio_wrapper" for="dark_mode"></label>
								</div>
						  </div>
					  </div>
					  <div class="outter_input_wrapper">
						  <div class="settings_input_label_wrapper">
							  Site Ads
						  </div>
						  <div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_attributes.page_ads == True %}
										<input class="radio_btn" checked type="checkbox" data-id="page_ads" id="page_ads" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="page_ads" id="page_ads" />
									{% endif %}
									<label class="inner_radio_wrapper" for="page_ads"></label>
								</div>
						  </div>
					  </div>
					  <div class="outter_input_wrapper">
						  <div class="settings_input_label_wrapper">
							  Adblock Detector
						  </div>
						  <div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_attributes.adblock_detector == True %}
										<input class="radio_btn" checked type="checkbox" data-id="adblock_detector" id="adblock_detector" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="adblock_detector" id="adblock_detector" />
									{% endif %}
									<label class="inner_radio_wrapper" for="adblock_detector"></label>
								</div>
						  </div>
					  </div>
					  <div class="outter_input_wrapper">
						  <div class="settings_input_label_wrapper">
							  Alert
						  </div>
						  <div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_attributes.alert == True %}
										<input class="radio_btn" checked type="checkbox" data-id="alert" id="alert" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="alert" id="alert" />
									{% endif %}
									<label class="inner_radio_wrapper" for="alert"></label>
								</div>
						  </div>
					  </div>
					  <div class="outter_input_wrapper">
						  <div class="settings_input_label_wrapper">
							  Related Animes
						  </div>
						  <div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_attributes.related_animes == True %}
										<input class="radio_btn" checked type="checkbox" data-id="related_animes" id="related_animes" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="related_animes" id="related_animes" />
									{% endif %}
									<label class="inner_radio_wrapper" for="related_animes"></label>
								</div>
						  </div>
					  </div>
					</div>
					</div>
				</div>
				<div class="save_btn_wrapper">
					<button type="button" class="attributes_save_btn save_btn">
						save
					</button>
				</div>
		</div>
		
        <div class="outter_anime_slider_wrapper">
			<div class="col-xl-12 slider_animes_wrapper"> 
				<div class="card card-block card-stretch card-height files-table">                   
					<div class="card-header d-flex justify-content-between">
						<div class="header-title slider_label_radio_btn_wrapper">
							<h4 class="card-title anime_slider_label">Manual Slider</h4>
							<div class="radio_wrapper">
								{% if data.manual_slider == True %}
									<input class="radio_btn slider_check" checked type="checkbox" data-id="manual_slider" id="manual_slider" />
								{% else %}
									<input class="radio_btn slider_check" type="checkbox" data-id="manual_slider" id="manual_slider" />
								{% endif %}
								<label class="inner_radio_wrapper" for="manual_slider"></label>
							</div>
						</div>
						<div class="card-header-toolbar d-flex align-items-center">
							<a id="add_new" class="anime_slider_label cus_link" role="button" href="#add_slider" >Add New</a>
						</div>
					</div>
					<div class="card-body pt-0">
						<div class="table_wrapper table-responsive">
							{% if data.anime_sliders|length != 0 %}
								<table class="table mb-0 table-borderless tbl-server-info">
								<thead>
									<tr>
										<th scope="col">Image</th>
										<th scope="col">Name</th>
										<th scope="col">Season</th>
										<th scope="col">Year</th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody>
									{% for key, val in data.anime_sliders.items %}
									<tr data-id="{{val.id}}" class="anime_slider_item">
										<td>
											<div class="d-flex align-items-center">
												<div class="">
													<img src="{{val.cover_image}}" alt="{{val.title}} display image" class="slider_anime_image">
												</div>
											</div>
										</td>
										<td>{{val.title|title}}</td>
										<td class="season_wrapper"><p>{{val.season|title}}</p></td>
										<td>{{val.year}}</td>
										<td>
											<div class="dropdown">
												<span class="dropdown-toggle" id="dropdownMenuButton7" data-toggle="dropdown">
													<i class="ri-more-fill more_acts_icon"></i>
												</span>
												<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton7">
													<a class="dropdown-item anime_slider_buttons" href="/watch/{{val.title}}?gga=false"><i class="ri-eye-fill mr-2"></i>View</a>
													<a class="dropdown-item anime_slider_buttons" role="button" data-act="delete" data-id="{{val.id}}" href="#delete"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
													<a class="dropdown-item anime_slider_buttons" 
													   role="button" 
													   data-act="edit"
													   data-id="{{val.id}}"
													   data-banner-image="{{val.banner_image}}"
													   data-cover-image="{{val.cover_image}}"
													   data-title="{{val.title}}"
													   data-year="{{val.year}}"
													   data-season="{{val.season}}"
													   data-country="{{val.country}}"
													   data-duration="{{val.duration}}"
													   data-description="{{val.description}}" 
													   data-realise-date="{{val.status}}" 
													   href="#edit"><i class="ri-pencil-fill mr-2"></i>Edit</a>
												</div>
											</div>
										</td>
									</tr>
									{% endfor %}
								</tbody>
								</table>
							{% else %}
								<div class="empty_anime_slider_wrapper">No Slider Animes</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
        </div>
		<div class="card card-block card-stretch card-height files-table slider_card"> 
			<div id="slider_form_wrapper">
				<div id="close_auth_btn_wrapper">
					<img
					  role="button" 
					  id="close_auth_icon"
					  src="/static/images/close2.svg"
					  alt="close authentication form icon"
					/>
				</div>
				<form action="post" id="slider_form" accept-charset="utf-8">
					<div class="slider_inp_image_wrapper">
						<div class="slider_inp_wrapper">
							<input
								type="file"
								accept="image/*"
								name="image"
								id="banner_image"
								placeholder=" "
								onChange="change_slider_image(this, 'banner_image')"
								class="slider_inp slider_file_inp"
							/>
							<label for="banner_image">Banner Image</label>
							<label class="banner_outter_image_wrapper" for="banner_image">
								<div class="banner_image_wrapper slider_image_preveiw_wrapper">
									<img src="/static/images/default.jpg" data-value="" alt="slider image preview" class="banner_image slider_image_preview">
								</div>
							</label>
						</div>
						<div class="slider_inp_wrapper">
							<input
								type="file"
								accept="image/*"
								name="image"
								id="cover_image"
								placeholder=" "
								onChange="change_slider_image(this, 'cover_image')"
								class="slider_inp slider_file_inp"
							/>
							<label for="cover_image">Cover Image</label>
							<label class="cover_outter_image_wrapper" for="cover_image">
								<div class="cover_image_wrapper slider_image_preveiw_wrapper">
									<img src="/static/images/default.jpg" data-value="" alt="slider image preview" class="cover_image slider_image_preview">
								</div>
							</label>
						</div>
					</div>
					<div class="slider_inp_text_wrapper">
						<div class="outter_input_wrapper">
							<label for="title" class="settings_input_label_wrapper">
								Title
							</label>
							<input type="text" id="slider_title" class="settings_input" data-value="title">
					  </div>
						<div class="outter_input_wrapper">
							<label for="season" class="settings_input_label_wrapper">
								Season
							</label>
							<div class="slider_btns_wrapper">
								<span role="button" data-value="winter" data-id="season" class="slider_btns winter_ele first_slider_btns">
									winter
								</span>
								<span role="button" data-value="spring" data-id="season" class="slider_btns spring_ele">
									spring
								</span>
								<span role="button" data-value="summer" data-id="season" class="slider_btns summer_ele">
									summer
								</span>
								<span role="button" data-value="fall" data-id="season" class="slider_btns fall_ele last_slider_btns">
									fall
								</span>
							</div>
							<input type="text" class="settings_input" data-value="season" id="slider_season" style="display: none;">
					  </div>
						
						<div class="outter_input_wrapper">
							<label for="year" class="settings_input_label_wrapper">
								Year
							</label>
							<input type="number" class="settings_input" data-value="year" id="slider_year">
					  </div>
						
						<div class="outter_input_wrapper">
							<label for="country" class="settings_input_label_wrapper">
								Country
							</label>
							<input type="text" class="settings_input" data-value="country" id="slider_country">
					  </div>
						
						<div class="outter_input_wrapper">
							<label for="description" class="settings_input_label_wrapper">
								Description
							</label>
							<textarea name="text" cols="25" rows="5" id="slider_description" class="settings_input scripts_input" data-value="description"></textarea>
					  </div>
						<div class="outter_input_wrapper">
							<label for="realise_date" class="settings_input_label_wrapper">
								Status
							</label>
							<div class="slider_btns_wrapper">
								<span role="button" data-value="unrealised" data-id="status" class="slider_btns unrealised_ele first_slider_btns">
									unrealised
								</span>
								<span role="button" data-value="ongoing" data-id="status" class="slider_btns ongoing_ele">
									ongoing
								</span>
								<span role="button" data-value="complete" data-id="status" class="slider_btns complete_ele last_slider_btns">
									complete
								</span>
							</div>
							<input type="text" class="settings_input" data-value="status" id="slider_realise_date" style="display: none;">
					  </div>
						
						<div class="outter_input_wrapper">
							<label for="duration" class="settings_input_label_wrapper">
								Duration
							</label>
							<input type="number" class="settings_input" data-value="duration" id="slider_duration">
					  </div>
						
						<div class="outter_input_wrapper">
							<label for="watch_type" class="settings_input_label_wrapper">
								Watch Type
							</label>
							<div class="slider_btns_wrapper">
								<span role="button" data-value="tv" data-id="watch_type" class="slider_btns tv_ele first_slider_btns">
									tv
								</span>
								<span role="button" data-value="movie" data-id="watch_type" class="slider_btns movie_ele">
									movie
								</span>
								<span role="button" data-value="ona" data-id="watch_type" class="slider_btns ona_ele">
									ona
								</span>
								<span role="button" data-value="ova" data-id="watch_type" class="slider_btns ova_ele">
									ova
								</span>
								<span role="button" data-value="music" data-id="watch_type" class="slider_btns music_ele last_slider_btns">
									music
								</span>
							</div>
							<input type="text" class="settings_input" data-value="type" id="slider_watch_type" style="display: none;">
					  </div>
						<div class="save_btn_wrapper">
							<button type="button" class="slider_save_btn save_btn">
								save
							</button>
						</div>	
					</div>
				</form>
			  </div>
          </div>
	</div>  
</div>



<script defer>
function change_image(input, id)  {
	//* this func is executed on the onchange eventlistner in the image_preview_wrapper tag
	if (input.files && input.files[0]) {
		const reader = new FileReader();
		
		reader.onload = function (e) {
			const image_url = e.target.result
			$(`.image_preview_wrapper[data-id="${id}"]`).html(`<img src="${image_url}" data-id="${id}" class="image_preview" alt="${id} image_preview_wrapper">`)
		}
		reader.readAsDataURL(input.files[0]);
	}
}

function change_slider_image(input, id)  {
	//* this func is executed on the onchange eventlistner in the image_preview_wrapper tag
	if (input.files && input.files[0]) {
		const reader = new FileReader();
		
		reader.onload = function (e) {
			const image_url = e.target.result
			const slider_image_preview = $("."+id)
			slider_image_preview.data("value", image_url)
			slider_image_preview.attr("src", image_url)
		}
		reader.readAsDataURL(input.files[0]);
	}
}
</script>
{% endblock %}