{% extends 'app/base.html' %} 
{% load static %} 

{% block page_meta_data %}
<link
    rel="stylesheet"
    href="/static/css/pages/alert.css"
/>
<title>Alert | watch anime online on As2anime</title>
{% endblock %} 

{% block page_content %}
<div id="alert_wrapper">
	<div id="main-wrapper" class="layout-page layout-page-404">
		<div class="container">
			<div class="alert_img_text_wrapper">
				<div class="alert_img_wrapper"><img src="/static/images/maintenance.png"></div>
				<div class="alert_text_wrapper">{{data.message}}</div>
				<div class="alert_subtext_wrapper">{{data.sub_message}}</div>
				<div class="alert_contact_us_wrapper">
					<a href="/home" ><i class="fa fa-chevron-circle-left mr-2"></i>Go Home</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}