{% extends 'app/base.html' %} 
{% load static %} 

{% block page_meta_data %}
<link
    rel="stylesheet"
    href="/static/css/pages/browsing.css"
/>
<title>Browsing | watch anime online on As2anime</title>
<style>
  #browsing_title_label_wrapper {
    font-family: var(--title-font);
    font-size: large;
  }
</style>
{{site_data.scripts.page_scripts|safe}}
<script>
  let pages = 0;
  let current_page = 1;
  let keyword = "";
  let genre_values = "";
  let type_values = "";
  let season_values = "";
  let years_values = "";
  let status_values = "";
  let language_values = "";
</script>
<script defer src="/static/browsing.js"></script>
{% endblock %} 

{% block foot_scripts %}
	{{site_data.scripts.page_foot_scripts|safe}}
{% endblock %}

{% block page_content %}
<div id="browsing_wrapper">
    <!-- *** filter_sort START *** -->
    {% include 'app/sections/filter_sort.html' %}
    <!-- *** filter_sort ENDS *** -->
    <div id="outter_anime_browsing_wrapper">
		{% if global_data.attributes.page_ads != False %}
			{% if data.user.is_vip != True %}
					{% if site_data.scripts.page_ad.script != "" %}
						{% if site_data.scripts.page_ad.fluid != True %}
							{% if site_data.scripts.page_ad.height != 0 %}
							<div class="ad_wrapper browsing_ad_wrapper" style="display: block !important; height: {{site_data.scripts.page_ad.height}}px !important;">
								{{site_data.scripts.page_ad.script|safe}}
							</div>
							{% else %}
							<div class="ad_wrapper browsing_ad_wrapper" style="display: block !important; height: auto !important;">
								{{site_data.scripts.page_ad.script|safe}}
							</div>
							{% endif %}
						{% else %}
							<div class="ad_wrapper browsing_ad_wrapper" style="display: block !important;">
								{{site_data.scripts.page_ad.script|safe}}
							</div>
						{% endif %}
					{% endif %}
			{% endif %}
		{% endif %}
        <div id="inner_anime_browsing_wrapper">
        </div>
        <div id="browsing_paganation_wrapper">
          <div id="page_label_wrapper">
            <div id="page_label">
            </div>
            <div id="page_acts_wrapper">
              <div id="previous_btn_wrapper" class="page_act_btn_wrapper">
                <button type="button" data-type="1" class="page_act_btn">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
                  Previous
                </button>
              </div>
              <div id="page_inp_btn_wrapper">
                <div id="inner_page_inp_btn_wrapper">
                  <input type="number" id="page_inp">
                  <button type="button" id="page_inp_btn">
                    Go
                  </button>
                </div>
              </div>
              <div id="next_btn_wrapper" class="page_act_btn_wrapper">
                <button type="button" data-type="2" class="page_act_btn">
                  Next
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
		{% if global_data.attributes.page_ads != False %}
			{% if data.user.is_vip != True %}
					{% if site_data.scripts.second_page_ad.script != "" %}
						{% if site_data.scripts.second_page_ad.fluid != True %}
							{% if site_data.scripts.second_page_ad.height != 0 %}
							<div class="ad_wrapper browsing_ad_wrapper" style="display: block !important; height: {{site_data.scripts.second_page_ad.height}}px !important;">
								{{site_data.scripts.second_page_ad.script|safe}}
							</div>
							{% else %}
							<div class="ad_wrapper browsing_ad_wrapper" style="display: block !important; height: auto !important;">
								{{site_data.scripts.second_page_ad.script|safe}}
							</div>
							{% endif %}
						{% else %}
							<div class="ad_wrapper browsing_ad_wrapper" style="display: block !important;">
								{{site_data.scripts.second_page_ad.script|safe}}
							</div>
						{% endif %}
					{% endif %}
			{% endif %}
		{% endif %}
    </div>
</div>
{% endblock %}

{% block current_top_content %}
<div id="current_top_wrapper">
  <div id="current_top_label_wrapper">
    Top Airing
  </div>
  <div id="current_top_anime_wrapper">
  </div>
</div>
{% endblock %}