{% extends 'app/auth_base.html' %}
{% load static %}

{% block page_meta_data %}
<link
    rel="stylesheet"
    href="/static/css/pages/confirm_email.css"
/>
<title> confirm email | watch anime online on anime_company </title>
{% endblock %}

{% block main_content %}
<div id="confirm_btn_text_wrapper">
    <div id="confirm_text_wrapper">
        <p>confirmation email was sent to email</p>
    </div>
    <div id="cancel_btn_wrapper">
        <button type="button" id="cancel_btn">
            cancel
        </button>
    </div>
</div>
{% endblock %}