{% extends 'app/admin_base.html' %}

{% block page_meta_data %} 
<title>
  Dashboard | As2anime Admin Panel
</title>
{% endblock %}

{% block page_content %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-transparent card-block card-stretch card-height mb-3">
                        <div class="d-flex justify-content-between">                             
                            <div class="select-dropdown input-prepend input-append">
                                <div class="btn-group">
                                    <div data-toggle="dropdown">
                                    <div class="dropdown-toggle search-query">Admin Panel</div><span class="search-replace"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="card card-block card-stretch card-height iq-welcome welcome_wrapper">
                        <div class="card-body property2-content">
                            <div class="d-flex flex-wrap align-items-center">
                                <div class="col-lg-8 col-sm-8 p-0">
                                    <h3 class="mb-3 admin_title_font">Welcome to As2anime </h3>
                                    <p class="mb-5">You can easily manage your site from here</p>
                                </div>
                                <div class="col-lg-4 col-sm-5 p-0 admin_panel_img_wrapper">
									<img src="/static/images/analytics.png" alt="admin panel img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="card card-block card-stretch card-height ">
                        <div class="card-header d-flex justify-content-between outter_graph_label_wrapper">
                            <div class="header-title">
                                <h4 class="card-title admin_title_font">Statistic</h4>
                            </div>
                        </div>
                        <div class="card-body outter_graph_line_wrapper">
                            <div class="row mt-4">
                                <div class="col-lg-6 col-md-6 col-6">
                                    <div class="media align-items-center">
                                        <div class="media-body ml-3">
                                            <h3 class="admin_title_font">{{data.num_animes}}</h3>
                                            <p class="mb-0 admin_title_font">Animes</p>
                                        </div>
                                        <div class="graph_line_wrapper">
											<img src="/static/images/graph-line.svg" alt="graph line">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-6">
                                    <div class="media align-items-center">
                                        <div class="media-body ml-3">
                                            <h3 class="admin_title_font">{{data.num_users}}</h3>
                                            <p class="mb-0 admin_title_font">Users</p>
                                        </div>
                                        <div class="graph_line_wrapper">
											<img src="/static/images/graph-line.svg" alt="graph line">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="col-lg-8 col-xl-8"> 
                    <div class="card card-block card-stretch card-height files-table">                   
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title admin_title_font">Users</h4>
                            </div>
                            <div class="card-header-toolbar d-flex align-items-center">
                                <a href="/as2_admin/users" class="view-more cus_link">View All</a>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="table-responsive">
                                 <table class="table mb-0 table-borderless tbl-server-info">
									<thead>
										<tr>
											<th scope="col">Name</th>
											<th scope="col">Email</th>
											<th scope="col">Created At</th>
											<th scope="col"></th>
										</tr>
									</thead>
									<tbody>
										{% for key, val in data.users.items %}
											<tr class="user_wrapper" data-email="{{val.email}}" >
												<td class="admin_title_font">{{val.username}}</td>
												<td class="admin_title_font">{{val.email}}</td>
												<td class="admin_title_font create_at_wrapper">{{val.create_at}}</td>
												<td>
													<div class="dropdown">
														<span class="dropdown-toggle" id="dropdownMenuButton6" data-toggle="dropdown">
															<i class="ri-more-fill more_acts_icon"></i>
														</span>
														<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton6">
															<a role="button" class="dropdown-item user_act_buttons" href="#view" data-type="view" data-email="{{val.email}}"><i class="ri-eye-fill mr-2"></i>View</a>
															<a role="button" class="dropdown-item user_act_buttons" href="#delete" data-type="delete" data-email="{{val.email}}"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
														</div>
													</div>
												</td>
											</tr>
										 {% endfor %}
									</tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-block card-stretch card-height">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title admin_title_font">Quick Access</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="list-inline p-0 mb-0 row align-items-center quick_wrapper">
                                <li class="col-lg-6 col-sm-6 mb-3 mb-sm-0"> 
                                    <a href="/as2_admin/users" class="p-2 text-center border rounded quick_links cus_link">
                                        <div>
                                            <i class="las la-user-cog iq-arrow-left"></i>
                                        </div>
                                        <p class="mb-0">Users</p>
                                    </a>
                                </li>
                                <li class="col-lg-6 col-sm-6">
                                    <a href="/as2_admin/general_settings" class="p-2 text-center border rounded quick_links cus_link">
                                        <div>
                                            <i class="ri-settings-3-line"></i>
                                        </div>
                                        <p class="mb-0">Genaral</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
{% endblock %}