{% extends 'app/base.html' %}
{% load static %}

{% block page_meta_data %}
<title> As2anime Error Page | watch anime online on as2anime </title>
{% endblock %}

{% block page_content %}
<div class="page_content" id="error_wrapper">
    <div class="tenor-gif-embed" data-postid="14583039" data-share-method="host" data-aspect-ratio="1.18519" data-width="100%"><a href="https://tenor.com/view/jinzhan-lily-and-marigold-lili-punching-punch-gif-14583039">Jinzhan Lily And Marigold Sticker</a>from <a href="https://tenor.com/search/jinzhan-stickers">Jinzhan Stickers</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</div>
{% endblock %}
