{% extends 'app/base.html' %}
{% load static %}

{% block head_scripts %}
<title> Home | watch anime online on as2anime </title>
<script defer src="/static/js/pages/home.js"></script>
{% endblock %}

{% block foot_scripts %}
{% endblock %}

{% block page_content %}
<div class="page_content" id="home_wrapper">
    <!-- home_slider starts -->
    {% include 'app/sections/home_slider.html' %}
    <!-- home_slider ends -->

    <!-- home_browsing starts -->
   {% include 'app/sections/home_browsing.html' %}
   <!-- home_browsing ends -->
</div>
{% endblock %}
