{% extends 'app/base.html' %}
{% load static %}

{% block page_meta_data %}
<link
    rel="stylesheet"
    href="/static/css/pages/landing.css"
/>
<title> As2anime - Watch Anime Online in High Quality For free </title>
<script defer src="/static/js/pages/landing.js"></script>
{{site_data.scripts.page_scripts|safe}}
{% endblock %}

{% block foot_scripts %}
	{{site_data.scripts.page_foot_scripts|safe}}
{% endblock %}

{% block page_content %}
<div class="page_content" id="landing_wrapper"> 
    <div id="landing_acts_wrapper">
        <div id="landing_bg_wrapper">
			{% if site_data.landing_background_image != "" %}
				<img src="{{site_data.landing_background_image}}" width="100px" alt="landing background image" id="landing_bg">
			{% else %}
				<img src="/static/images/landing_background_image.jpg" width="100px" alt="landing background image" id="landing_bg">
			{% endif %}
        </div>
        <div id="top_wrapper">
            <div id="left_side_wrapper">
                <div id="landing_nav">
                    <div id="full_nav_wrapper">
                        <a href="/browsing" class="landing_links">Recent Update</a>
                        <a href="/browsing" class="landing_links">Popular</a>
						{% if global_data.attributes.donate_page == True %}
                        <a href="{{global_data.donate}}" class="landing_links">Donate</a>
						{% else %}	
                        <a href="{{global_data.redirect_url}}" class="landing_links">Donate</a>
						{% endif %}	
                        <a href="/random" class="landing_links">Random</a>
                    </div>
                </div>
                {% include 'app/widgets/title.html' %}
				<div id="mobile_nav_wrapper">
					<a href="/random" class="menu_link landing_links">RANDOM</a>
					{% if global_data.attributes.donate_page == True %}
					<a href="{{global_data.donate}}" class="menu_link landing_links">DONATE</a>
					{% else %}	
					<a href="{{global_data.redirect_url}}" class="menu_link landing_links">DONATE</a>
					{% endif %}	
					<a href="#about" class="menu_link landing_links">ABOUT</a>
					<span class="menu_link landing_links auth_btn_wrapper">LOGIN</span>
				</div>
                <div id="outter_search_wrapper">
                    <button type="button" data-open="false" id="apper_search_btn" class="search_btns">
                      <img src="/static/images/search.svg" width="20px" height="20px" alt="appear seach icon" class="search_icon">
                    </button>
                    <div id="search_wrapper">
                      <div id="search_input_wrapper">
                        <button type="button" id="search_btn" class="search_btns">
                          <img src="/static/images/search.svg" width="20px" height="20px" alt="close icon" class="search_icon">
                        </button>
                        <input placeholder="Search anime..." type="query" name="search" id="search" />
                        <button type="button" id="cancel_btn">
                          cancel
                        </button>
                      </div>
                    </div>
                    <button type="button" id="close_btn" class="search_btns">
                      <img src="/static/images/close.svg" width="20px" height="20px" alt="" class="search_icon">
                    </button>
                  </div>
                <div id="outter_top_search_wrapper">
                    <div id="inner_top_search_links_wrapper">
                    </div>
                </div>
            </div>
            <div id="right_side_wrapper">
				  {% if site_data.landing_image != "" %}
					<img src="{{site_data.landing_image}}" width="100px" alt="landing welcome image" id="landing_wlc_img">
				  {% else %}
					<img src="/static/images/landing_welcome_image.png" width="100px" alt="landing welcome image" id="landing_wlc_img">
				  {% endif %}
			</div>
        </div>
    </div>
    <div id="home_link_wrapper">
        <div id="inner_home_link_wrapper">
            <a href="/home" id="home_link">
                Go to home page 
                <img src="/static/images/circle-arrow-right.svg" width="100px" alt="circle arrow button" id="arrow_icon">
            </a>
        </div>
    </div>
    <div id="landing_about_wrapper">
		{% if global_data.attributes.page_ads != False %}
			{% if data.user.is_vip != True %}
				{% if site_data.scripts.page_ad.script != "" %}
					{% if site_data.scripts.page_ad.fluid != True %}
						{% if site_data.scripts.page_ad.height != 0 %}
						<div class="ad_wrapper landing_ad_wrapper" style="display: block !important; height: {{site_data.scripts.page_ad.height}}px !important;">
							{{site_data.scripts.page_ad.script|safe}}
						</div>
						{% else %}
						<div class="ad_wrapper landing_ad_wrapper" style="display: block !important;">
							{{site_data.scripts.page_ad.script|safe}}
						</div>
						{% endif %}
					{% else %}
						<div class="ad_wrapper landing_ad_wrapper" style="display: block !important; height: auto !important;">
							{{site_data.scripts.page_ad.script|safe}}
						</div>
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}
        <div class="sec">
            <div class="sec_title">
                Watch Anime Online Free
            </div>
            <div class="sec_text">
                <p>
					It all started in 2023 when we officially launched the system of file sharing. We boast HD quality as well as fast download speed. To provide our users with multiple choices, we use links from third party sources like mp4upload, vidstream, streamtape, mycloud. Your Favorite Anime is available for live streaming and can reach a huge number of audiences around the world. The demand for Japanese anime has steadily been on the rise recently all over the world. When as2anime was shut down for the first time, multiple fake copies that are prone to viruses and malware came into existence. For your utmost safety, visit our official as2anime website only.
				</p>
            </div>
        </div>
        <div class="sec">
            <div class="sec_title">
                What is wrong with as2anime?
            </div>
            <div class="sec_text">
                <p>
                   Not everyone knows that anime is not only short animation. Thanks to the widespread promotion of Japanese newspapers and television, more and more people from four corners of the Earth know about this Japanese art subject. In its home country, Japan, 33% of people watch anime (out of 125 million, that's more than 40 million). Most great anime series are based on well-known comics (manga), games, or ranobe. as2anime hosts a huge collection of anime with topics suitable for all ages and genders. No matter what genre you are in the mood for, you can find it here on as2anime.
				</p>
            </div>
        </div>
        <div class="sec">
            <div class="sec_title">
                Is KissAnime better than As2anime?
            </div>
            <div class="sec_text">
                <p>
					The fact that As2anime is new doesn't make it less competitive. The As2anime team has learnt from KissAnime's mistakes to create a site with better quality content library and much more outstanding updates than KissAnime. Titles you cannot find on As2anime are highly unlikely to be found anywhere else. As2anime is the easiest and fastest place to connect you with your titles of interest.
                </p>
            </div>
        </div>
        <div class="sec">
            <div class="sec_title">
                Is it illegal to use As2anime?
            </div>
            <div class="sec_text">
                <p>
                 Streaming anime on As2anime is not considered illegal in the US. To be exact, watching only anime and copyrighted shows is not technically illegal at this time. According to copyright attorneys, only when you download or share files, will you be subject to criminal or civil charges. Therefore, you are recommended to watch anime free online to avoid any possible issues.
				</p>
            </div>
        </div>
        <div class="sec">
            <div class="sec_title">
                Is As2anime safe?
            </div>
            <div class="sec_text">
                <p>
                   We haven't received any report regarding the site's security. However, for your utmost safety, you should take precautionary measures such as a VPN to stay anonymous, anti-virus program and AdBlock extension to avoid ads and popups.
				</p>
            </div>
        </div>
        <div class="sec">
            <div class="sec_title">
                Best alternative to As2anime
            </div>
            <div class="sec_text">
                <p>
					Although we are confident to provide you with the best overall experience, it is only wise to have more options in case bad things happen. Some other reliable and safe free anime sites you can bookmark include gogoanime, Zoro.to, and anime heaven
                </p>
            </div>
        </div>
		{% if global_data.attributes.page_ads != False %}
			{% if data.user.is_vip != True %}
				{% if site_data.scripts.second_page_ad.script != "" %}
					{% if site_data.scripts.second_page_ad.fluid != True %}
						{% if site_data.scripts.second_page_ad.height != 0 %}
						<div class="ad_wrapper landing_ad_wrapper" style="display: block !important; height: {{site_data.scripts.second_page_ad.height}}px !important;">
							{{site_data.scripts.second_page_ad.script|safe}}
						</div>
						{% else %}
						<div class="ad_wrapper landing_ad_wrapper" style="display: block !important;">
							{{site_data.scripts.second_page_ad.script|safe}}
						</div>
						{% endif %}
					{% else %}
						<div class="ad_wrapper landing_ad_wrapper" style="display: block !important; height: auto !important;">
							{{site_data.scripts.second_page_ad.script|safe}}
						</div>
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}
    </div>
</div>
{% endblock %}