{% extends 'app/base.html' %}
{% load static %}

{% block page_meta_data %}
<link
    rel="stylesheet"
    href="/static/css/pages/profile.css"
/>
<link
    rel="stylesheet"
    href="/static/css/widgets/loader_two.css"
/>
<script>
let watch_list = []
let likes_list = []
let watch_dict = {}
let likes_dict = {}
let watch_pages = 0
let likes_pages = 0
let watch_current_page = 1
let likes_current_page = 1
let current_page_type = ""
let current_view_type = ""
</script>
<script defer src="/static/profile.js"></script>
<title> User profile | watch anime online on As2anime </title>
{{site_data.scripts.page_scripts|safe}}
{% endblock %}

{% block foot_scripts %}
	{{site_data.scripts.page_foot_scripts|safe}}
{% endblock %}

{% block page_content %}
<div class="page_content" id="profile_wrapper">
    <!-- *** account START *** -->
    {% include 'app/sections/account.html' %}
    <!-- *** account ENDS *** -->

    <!-- *** profile_nav START *** -->
    {% include 'app/sections/profile_nav.html' %}
    <!-- *** profile_nav ENDS *** -->
	
	<script defer>
		function change_profile_image(input)  {
		
		//* this func is executed on the onchange eventlistner in the profile_image_input tag
		if (input.files && input.files[0]) {
			const reader = new FileReader();
			
			reader.onload = function (e) {
				const image_url = e.target.result
				
				document.getElementById("account_profile_image_wrapper").innerHTML = `<img src="${image_url}" alt="account image" id="profile_account_image">${vip_logo_html}`;
				
				 $.ajax({
					type: "post",
					url: "/change_user_details",
					data: {
					  csrfmiddlewaretoken: csrf_token,
					  type: "profile_image",
					  user_input: image_url,
					},
					success: async (res) => {
					  const res_data = JSON.parse(res);
					  
					  if (res_data.status_code == 200)  document.getElementById("account_profile_image_wrapper").innerHTML = `<img src="${image_url}" alt="account image" id="profile_account_image">${vip_logo_html}`;
					  show_alert(res_data.message)
					},
					error: function (jqXHR, textStatus, errorThrown) {
						  show_alert('image file may be to big...');
						  window.location.reload();
					},
					});
				
			}

			reader.readAsDataURL(input.files[0]);
		}
	}
	</script>
	<!-- <img src="/static/images/vip.svg" alt="default profile image image" class="vip_logo"> -->
<div>
{% endblock %}