{% extends 'app/admin_base.html' %}
{% load static %}

{% block page_meta_data %} 
<title>
  Scripts Settings | As2anime Admin Panel
</title>
<script defer src="/static/js/pages/scripts.js"></script>
{% endblock %}

{% block page_content %}
<div id="scripts_settings_wrapper" class="container-fluid">
	<div class="outter_settings_wrapper">
		<div class="settings_label_wrapper">
			Scripts Settings
		</div>
		<div class="inner_settings_wrapper">
			<div class="settings_wrapper">
				<div class="outter_input_wrapper">
					<label for="global_scripts" class="settings_input_label_wrapper">
						Global Site Head					
					</label>
					<textarea name="text" cols="25" rows="5" data-id="global_scripts" data-ad="false" class="settings_input scripts_input">{{site_scripts.global_scripts|safe}}</textarea>
				</div>
				<div class="outter_input_wrapper">
					<label for="home_scripts" class="settings_input_label_wrapper">
						Home Page Head
					</label>
					<textarea name="text" cols="25" rows="5" data-id="home_scripts" data-ad="false" class="settings_input scripts_input">{{site_scripts.home_scripts|safe}}</textarea>
				</div>
				<div class="outter_input_wrapper">
					<label for="landing" class="settings_input_label_wrapper">
						landing Page Head
					</label>
					<textarea name="text" cols="25" rows="5" data-id="landing_scripts" data-ad="false" class="settings_input scripts_input">{{site_scripts.landing_scripts|safe}}</textarea>
				</div>
				<div class="outter_input_wrapper">
					<label for="browsing" class="settings_input_label_wrapper">
						Browsing Page Head
					</label>
					<textarea name="text" cols="25" rows="5" data-id="browsing_scripts" data-ad="false" class="settings_input scripts_input">{{site_scripts.browsing_scripts|safe}}</textarea>
				</div>
				<div class="outter_input_wrapper">
					<label for="watch_scripts" class="settings_input_label_wrapper">
						Watch Page Head
					</label>
					<textarea name="text" cols="25" rows="5" data-id="watch_scripts" data-ad="false" class="settings_input scripts_input">{{site_scripts.watch_scripts|safe}}</textarea>
				</div>
				<div class="outter_input_wrapper">
					<label for="profile_scripts" class="settings_input_label_wrapper">
						Profile Page Head
					</label>
					<textarea name="text" cols="25" rows="5" data-id="profile_scripts" data-ad="false" class="settings_input scripts_input">{{site_scripts.profile_scripts|safe}}</textarea>
				</div>
				<div class="outter_input_wrapper">
					<label for="donate_scripts" class="settings_input_label_wrapper">
						Donate Page Head
					</label>
					<textarea name="text" cols="25" rows="5" data-id="donate_scripts" data-ad="false" class="settings_input scripts_input">{{site_scripts.donate_scripts|safe}}</textarea>
				</div>
			</div>
			<div class="settings_wrapper">
				<div class="outter_input_wrapper">
					<label for="global_foot_scripts" class="settings_input_label_wrapper">
						Global Site Foot					
					</label>
					<textarea name="text" cols="25" rows="5" data-id="global_foot_scripts" data-ad="false" class="settings_input scripts_input">{{site_scripts.global_foot_scripts|safe}}</textarea>
				</div>
				<div class="outter_input_wrapper">
					<label for="home_foot_scripts" class="settings_input_label_wrapper">
						Home Page Foot
					</label>
					<textarea name="text" cols="25" rows="5" data-id="home_foot_scripts" data-ad="false" class="settings_input scripts_input">{{site_scripts.home_foot_scripts|safe}}</textarea>
				</div>
				<div class="outter_input_wrapper">
					<label for="landing" class="settings_input_label_wrapper">
						landing Page Foot
					</label>
					<textarea name="text" cols="25" rows="5" data-id="landing_foot_scripts" data-ad="false" class="settings_input scripts_input">{{site_scripts.landing_foot_scripts|safe}}</textarea>
				</div>
				<div class="outter_input_wrapper">
					<label for="browsing" class="settings_input_label_wrapper">
						Browsing Page Foot
					</label>
					<textarea name="text" cols="25" rows="5" data-id="browsing_foot_scripts" data-ad="false" class="settings_input scripts_input">{{site_scripts.browsing_foot_scripts|safe}}</textarea>
				</div>
				<div class="outter_input_wrapper">
					<label for="watch_foot_scripts" class="settings_input_label_wrapper">
						Watch Page Foot
					</label>
					<textarea name="text" cols="25" rows="5" data-id="watch_foot_scripts" data-ad="false" class="settings_input scripts_input">{{site_scripts.watch_foot_scripts|safe}}</textarea>
				</div>
				<div class="outter_input_wrapper">
					<label for="profile_foot_scripts" class="settings_input_label_wrapper">
						Profile Page Foot
					</label>
					<textarea name="text" cols="25" rows="5" data-id="profile_foot_scripts" data-ad="false" class="settings_input scripts_input">{{site_scripts.profile_foot_scripts|safe}}</textarea>
				</div>
				<div class="outter_input_wrapper">
					<label for="donate_foot_scripts" class="settings_input_label_wrapper">
						Donate Page Foot
					</label>
					<textarea name="text" cols="25" rows="5" data-id="donate_foot_scripts" data-ad="false" class="settings_input scripts_input">{{site_scripts.donate_foot_scripts|safe}}</textarea>
				</div>
			</div>
			<div class="notice_outter_alert_wrapper">
				<div class="notice_inner_alert_wrapper">
					<p style="text-align: center;"><i class="las la-exclamation"></i> Note: If <b>Height</b> is 0 <b>Fluid turns on</b>, and If <b>Height</b> has value <b>Fluid turns off</b>. if you want <b>Fluid</b> ensure <b>Height</b> is 0 or empty, <b>Width</b> is always fluid</p>
				</div>
			</div>
			<div class="settings_wrapper ad_settings_wrapper">
				<div class="outter_input_wrapper">
					<label for="home_ad" class="settings_input_label_wrapper">
						Home Page Ad
					</label>
					<div class="scripts_attributes_wrapper">
						<div class="fluid_attr_wrapper">
							<label class="settings_input_label_wrapper fluid_attr_label_wrapper">
								Fluid
							</label>
							<div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_scripts.home_ad.fluid == True %}
										<input class="radio_btn" checked type="checkbox" data-id="home_ad" data-type="fluid" id="home_ad_fluid" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="home_ad" data-type="fluid" id="home_ad_fluid" />
									{% endif %}
									<label class="inner_radio_wrapper" for="home_ad_fluid"></label>
								</div>
							</div>
						</div>
						<div class="height_attr_wrapper">
							<label class="settings_input_label_wrapper">
								Height
							</label>
							<input type="number" value="{{site_scripts.home_ad.height}}" data-id="home_ad" name="title" class="ad_height_input">
						</div>
					</div>
					<textarea name="text" cols="25" rows="5" data-id="home_ad" data-ad="true" class="settings_input scripts_input">{{site_scripts.home_ad.script|safe}}</textarea>
				</div>
				<div class="outter_input_wrapper">
					<label for="landing_ad" class="settings_input_label_wrapper">
						Landing Page Ad
					</label>
					<div class="scripts_attributes_wrapper">
						<div class="fluid_attr_wrapper">
							<label class="settings_input_label_wrapper fluid_attr_label_wrapper">
								Fluid
							</label>
							<div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_scripts.landing_ad.fluid == True %}
										<input class="radio_btn" checked type="checkbox" data-id="landing_ad" data-type="fluid" id="landing_ad_fluid" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="landing_ad" data-type="fluid" id="landing_ad_fluid" />
									{% endif %}
									<label class="inner_radio_wrapper" for="landing_ad_fluid"></label>
								</div>
							</div>
						</div>
						<div class="height_attr_wrapper">
							<label class="settings_input_label_wrapper">
								Height
							</label>
							<input type="number" value="{{site_scripts.landing_ad.height}}" data-id="landing_ad" name="title" class="ad_height_input">
						</div>
					</div>
					<textarea name="text" cols="25" rows="5" data-id="landing_ad" data-ad="true" class="settings_input scripts_input">{{site_scripts.landing_ad.script|safe}}</textarea>
				</div>
				<div class="outter_input_wrapper">
					<label for="browsing_ad" class="settings_input_label_wrapper">
						Browsing Page Ad
					</label>
					<div class="scripts_attributes_wrapper">
						<div class="fluid_attr_wrapper">
							<label class="settings_input_label_wrapper fluid_attr_label_wrapper">
								Fluid
							</label>
							<div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_scripts.browsing_ad.fluid == True %}
										<input class="radio_btn" checked type="checkbox" data-id="browsing_ad" data-type="fluid" id="browsing_ad_fluid" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="browsing_ad" data-type="fluid" id="browsing_ad_fluid" />
									{% endif %}
									<label class="inner_radio_wrapper" for="browsing_ad_fluid"></label>
								</div>
							</div>
						</div>
						<div class="height_attr_wrapper">
							<label class="settings_input_label_wrapper">
								Height
							</label>
							<input type="number" value="{{site_scripts.browsing_ad.height}}" data-id="browsing_ad" name="title" class="ad_height_input">
						</div>
					</div>
					<textarea name="text" cols="25" rows="5" data-id="browsing_ad" data-ad="true" class="settings_input scripts_input">{{site_scripts.browsing_ad.script|safe}}</textarea>
				</div>
				<div class="outter_input_wrapper">
					<label for="watch_ad" class="settings_input_label_wrapper">
						Watch Page Ad
					</label>
					<div class="scripts_attributes_wrapper">
						<div class="fluid_attr_wrapper">
							<label class="settings_input_label_wrapper fluid_attr_label_wrapper">
								Fluid
							</label>
							<div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_scripts.watch_ad.fluid == True %}
										<input class="radio_btn" checked type="checkbox" data-id="watch_ad" data-type="fluid" id="watch_ad_fluid" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="watch_ad" data-type="fluid" id="watch_ad_fluid" />
									{% endif %}
									<label class="inner_radio_wrapper" for="watch_ad_fluid"></label>
								</div>
							</div>
						</div>
						<div class="height_attr_wrapper">
							<label class="settings_input_label_wrapper">
								Height
							</label>
							<input type="number" value="{{site_scripts.watch_ad.height}}" data-id="watch_ad" name="title" class="ad_height_input">
						</div>
					</div>
					<textarea name="text" cols="25" rows="5" data-id="watch_ad" data-ad="true" class="settings_input scripts_input">{{site_scripts.watch_ad.script|safe}}</textarea>
				</div>
				<div class="outter_input_wrapper">
					<label for="watch_popup_ad" class="settings_input_label_wrapper">
						Watch Page Popup Ad
					</label>
					<div class="scripts_attributes_wrapper">
						<div class="fluid_attr_wrapper">
							<label class="settings_input_label_wrapper fluid_attr_label_wrapper">
								Fluid
							</label>
							<div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_scripts.watch_popup_ad.fluid == True %}
										<input class="radio_btn" checked type="checkbox" data-id="watch_popup_ad" data-type="fluid" id="watch_popup_ad_fluid" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="watch_popup_ad" data-type="fluid" id="watch_popup_ad_fluid" />
									{% endif %}
									<label class="inner_radio_wrapper" for="watch_popup_ad_fluid"></label>
								</div>
							</div>
						</div>
						<div class="height_attr_wrapper">
							<label class="settings_input_label_wrapper">
								Height
							</label>
							<input type="number" value="{{site_scripts.watch_popup_ad.height}}" data-id="watch_popup_ad" name="title" class="ad_height_input">
						</div>
					</div>
					<textarea name="text" cols="25" rows="5" data-id="watch_popup_ad" data-ad="true" class="settings_input scripts_input">{{site_scripts.watch_popup_ad.script|safe}}</textarea>
				</div>
				<div class="outter_input_wrapper">
					<label for="profile_ad" class="settings_input_label_wrapper">
						Profile Page Ad
					</label>
					<div class="scripts_attributes_wrapper">
						<div class="fluid_attr_wrapper">
							<label class="settings_input_label_wrapper fluid_attr_label_wrapper">
								Fluid
							</label>
							<div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_scripts.profile_ad.fluid == True %}
										<input class="radio_btn" checked type="checkbox" data-id="profile_ad" data-type="fluid" id="profile_ad_fluid" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="profile_ad" data-type="fluid" id="profile_ad_fluid" />
									{% endif %}
									<label class="inner_radio_wrapper" for="profile_ad_fluid"></label>
								</div>
							</div>
						</div>
						<div class="height_attr_wrapper">
							<label class="settings_input_label_wrapper">
								Height
							</label>
							<input type="number" value="{{site_scripts.profile_ad.height}}" data-id="profile_ad" name="title" class="ad_height_input">
						</div>
					</div>
					<textarea name="text" cols="25" rows="5" data-id="profile_ad" data-ad="true" class="settings_input scripts_input">{{site_scripts.profile_ad.script|safe}}</textarea>
				</div>
				<div class="outter_input_wrapper">
					<label for="donate_ad" class="settings_input_label_wrapper">
						Donate Page Ad
					</label>
					<div class="scripts_attributes_wrapper">
						<div class="fluid_attr_wrapper">
							<label class="settings_input_label_wrapper fluid_attr_label_wrapper">
								Fluid
							</label>
							<div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_scripts.donate_ad.fluid == True %}
										<input class="radio_btn" checked type="checkbox" data-id="donate_ad" data-type="fluid" id="home_ad_fluid" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="donate_ad" data-type="fluid" id="donate_ad_fluid" />
									{% endif %}
									<label class="inner_radio_wrapper" for="donate_ad_fluid"></label>
								</div>
							</div>
						</div>
						<div class="height_attr_wrapper">
							<label class="settings_input_label_wrapper">
								Height
							</label>
							<input type="number" value="{{site_scripts.donate_ad.height}}" data-id="donate_ad" name="title" class="ad_height_input">
						</div>
					</div>
					<textarea name="text" cols="25" rows="5" data-id="donate_ad" data-ad="true" class="settings_input scripts_input">{{site_scripts.donate_ad.script|safe}}</textarea>
				</div>
				<div class="outter_input_wrapper">
					<label for="home_ad_second" class="settings_input_label_wrapper">
						Second Home Page Ad
					</label>
					<div class="scripts_attributes_wrapper">
						<div class="fluid_attr_wrapper">
							<label class="settings_input_label_wrapper fluid_attr_label_wrapper">
								Fluid
							</label>
							<div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_scripts.home_ad_second.fluid == True %}
										<input class="radio_btn" checked type="checkbox" data-id="home_ad_second" data-type="fluid" id="home_ad_second_fluid" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="home_ad_second" data-type="fluid" id="home_ad_second_fluid" />
									{% endif %}
									<label class="inner_radio_wrapper" for="home_ad_second_fluid"></label>
								</div>
							</div>
						</div>
						<div class="height_attr_wrapper">
							<label class="settings_input_label_wrapper">
								Height
							</label>
							<input type="number" value="{{site_scripts.home_ad_second.height}}" data-id="home_ad_second" name="title" class="ad_height_input">
						</div>
					</div>
					<textarea name="text" cols="25" rows="5" data-id="home_ad_second" data-ad="true" class="settings_input scripts_input">{{site_scripts.home_ad_second.script|safe}}</textarea>
				</div>
				<div class="outter_input_wrapper">
					<label for="landing_ad_second" class="settings_input_label_wrapper">
						Second Landing Page Ad
					</label>
					<div class="scripts_attributes_wrapper">
						<div class="fluid_attr_wrapper">
							<label class="settings_input_label_wrapper fluid_attr_label_wrapper">
								Fluid
							</label>
							<div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_scripts.landing_ad_second.fluid == True %}
										<input class="radio_btn" checked type="checkbox" data-id="landing_ad_second" data-type="fluid" id="landing_ad_second_fluid" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="landing_ad_second" data-type="fluid" id="landing_ad_second_fluid" />
									{% endif %}
									<label class="inner_radio_wrapper" for="landing_ad_second_fluid"></label>
								</div>
							</div>
						</div>
						<div class="height_attr_wrapper">
							<label class="settings_input_label_wrapper">
								Height
							</label>
							<input type="number" value="{{site_scripts.landing_ad_second.height}}" data-id="landing_ad_second" name="title" class="ad_height_input">
						</div>
					</div>
					<textarea name="text" cols="25" rows="5" data-id="landing_ad_second" data-ad="true" class="settings_input scripts_input">{{site_scripts.landing_ad_second.script|safe}}</textarea>
				</div>
				<div class="outter_input_wrapper">
					<label for="browsing_ad_second" class="settings_input_label_wrapper">
						Second Browsing Page Ad
					</label>
					<div class="scripts_attributes_wrapper">
						<div class="fluid_attr_wrapper">
							<label class="settings_input_label_wrapper fluid_attr_label_wrapper">
								Fluid
							</label>
							<div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_scripts.browsing_ad_second.fluid == True %}
										<input class="radio_btn" checked type="checkbox" data-id="browsing_ad_second" data-type="fluid" id="browsing_ad_second_fluid" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="browsing_ad_second" data-type="fluid" id="browsing_ad_second_fluid" />
									{% endif %}
									<label class="inner_radio_wrapper" for="browsing_ad_second_fluid"></label>
								</div>
							</div>
						</div>
						<div class="height_attr_wrapper">
							<label class="settings_input_label_wrapper">
								Height
							</label>
							<input type="number" value="{{site_scripts.browsing_ad_second.height}}" data-id="browsing_ad_second" name="title" class="ad_height_input">
						</div>
					</div>
					<textarea name="text" cols="25" rows="5" data-id="browsing_ad_second" data-ad="true" class="settings_input scripts_input">{{site_scripts.browsing_ad_second.script|safe}}</textarea>
				</div>
				<div class="outter_input_wrapper">
					<label for="watch_ad_second" class="settings_input_label_wrapper">
						Second Watch Page Ad
					</label>
					<div class="scripts_attributes_wrapper">
						<div class="fluid_attr_wrapper">
							<label class="settings_input_label_wrapper fluid_attr_label_wrapper">
								Fluid
							</label>
							<div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_scripts.watch_ad_second.fluid == True %}
										<input class="radio_btn" checked type="checkbox" data-id="watch_ad_second" data-type="fluid" id="watch_ad_second_fluid" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="watch_ad_second" data-type="fluid" id="watch_ad_second_fluid" />
									{% endif %}
									<label class="inner_radio_wrapper" for="watch_ad_second_fluid"></label>
								</div>
							</div>
						</div>
						<div class="height_attr_wrapper">
							<label class="settings_input_label_wrapper">
								Height
							</label>
							<input type="number" value="{{site_scripts.watch_ad_second.height}}" data-id="watch_ad_second" name="title" class="ad_height_input">
						</div>
					</div>
					<textarea name="text" cols="25" rows="5" data-id="watch_ad_second" data-ad="true" class="settings_input scripts_input">{{site_scripts.watch_ad_second.script|safe}}</textarea>
				</div>
				<div class="outter_input_wrapper">
					<label for="profile_ad_second" class="settings_input_label_wrapper">
						Second Profile Page Ad
					</label>
					<div class="scripts_attributes_wrapper">
						<div class="fluid_attr_wrapper">
							<label class="settings_input_label_wrapper fluid_attr_label_wrapper">
								Fluid
							</label>
							<div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_scripts.profile_ad_second.fluid == True %}
										<input class="radio_btn" checked type="checkbox" data-id="profile_ad_second" data-type="fluid" id="profile_ad_second_fluid" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="profile_ad_second" data-type="fluid" id="profile_ad_second_fluid" />
									{% endif %}
									<label class="inner_radio_wrapper" for="profile_ad_second_fluid"></label>
								</div>
							</div>
						</div>
						<div class="height_attr_wrapper">
							<label class="settings_input_label_wrapper">
								Height
							</label>
							<input type="number" value="{{site_scripts.profile_ad_second.height}}" data-id="profile_ad_second" name="title" class="ad_height_input">
						</div>
					</div>
					<textarea name="text" cols="25" rows="5" data-id="profile_ad_second" data-ad="true" class="settings_input scripts_input">{{site_scripts.profile_ad_second.script|safe}}</textarea>
				</div>
				<div class="outter_input_wrapper">
					<label for="donate_ad_second" class="settings_input_label_wrapper">
						Second Donate Page Ad
					</label>
					<div class="scripts_attributes_wrapper">
						<div class="fluid_attr_wrapper">
							<label class="settings_input_label_wrapper fluid_attr_label_wrapper">
								Fluid
							</label>
							<div class="settings_radio_input_wrapper">
								<div class="radio_wrapper">
									{% if site_scripts.donate_ad_second.fluid == True %}
										<input class="radio_btn" checked type="checkbox" data-id="donate_ad_second" data-type="fluid" id="home_ad_second_fluid" />
									{% else %}
										<input class="radio_btn" type="checkbox" data-id="donate_ad_second" data-type="fluid" id="donate_ad_second_fluid" />
									{% endif %}
									<label class="inner_radio_wrapper" for="donate_ad_second_fluid"></label>
								</div>
							</div>
						</div>
						<div class="height_attr_wrapper">
							<label class="settings_input_label_wrapper">
								Height
							</label>
							<input type="number" value="{{site_scripts.donate_ad_second.height}}" data-id="donate_ad_second" name="title" class="ad_height_input">
						</div>
					</div>
					<textarea name="text" cols="25" rows="5" data-id="donate_ad_second" data-ad="true" class="settings_input scripts_input">{{site_scripts.donate_ad_second.script|safe}}</textarea>
				</div>
			</div>
		</div>
        <div class="save_btn_wrapper">
            <button class="save_btn">
                save
            </button>
        </div>
	</div>
</div>
{% endblock %}