{% extends 'app/base.html' %} 
{% load static %} 

{% block page_meta_data %}
<title>You're Watching episode {{episode}} of {{title}} on As2anime</title>
<link rel="icon" href="/static/images/icon_two.png" />
<link href="/static/css/widgets/netflix_player.css" rel="stylesheet" />
<script src="/static/js/jw.js?v=0.0002"></script>
<style>
  #player {
	width: 100vw !important;
	height: 100vh !important;
  }
  
  #player_loader {
	position: absolute;
	width: 100%;
	height: 100%;
  }
  
  .jw-preview {
	   filter: blur(8px) !important;
	  -webkit-filter: blur(8px) !important;
  }
  
  .skip_btn {
	position: absolute;
    bottom: 150%;
    left: 5%;
	z-index: 5;
	color: var(--accent-color);
	border: solid 2px var(--accent-color);
	border-radius: .5rem;
	outline: none;
	background: none;
	font-size: 20px;
	font-family: "Rubik", Arial, sans-serif;
	font-weight: 700;
	padding: 5px 10px;
	width: 150px;
	transition: all .5s ease-in-out;
  }
  
  .skip_btn:hover {
	color: var(--primary-color);
	background: var(--third-color);
	border: solid 2px var(--third-color);
	transition: all .5s ease-in-out;
  }
</style>
{% endblock %}

{% block player_wrapper %}
<div style="position: relative;" class="wrap">
	<div id="player_loader">
		{% include 'app/widgets/loader_two.html' %}
	</div>
  <div id="player"></div>
  <!-- <button id="skip_intro" class="skip_btn" type="button" >skip intro</button> -->
  <!-- <button id="skip_outro" class="skip_btn" type="button" >skip outro</button> -->
</div>
{% endblock %}


{% block foot_scripts %}
<script>
  $.ajax({
	type: "get",
	url: "https://godsapi.onrender.com/anime/3/sources/{{source_id}}",
	success: (res) => {
	  const source_data = res.data.source_data;
	  const sources = source_data.sources;
	  const sources_backup = source_data.sourcesBackup;
	  for(let i = 0; i < sources.length; i++) {
		sources[i].file = sources[i].file
	  }
	  for(let i = 0; i < sources_backup.length; i++) {
		sources_backup[i].file = sources_backup[i].file
	  }
	  const files = sources.concat(sources_backup)
	  const controls = "{{controls}}" != "True" ? false : true
	  const displaytitle = "{{displaytitle}}" != "True" ? false : true
	  const displaydescription = "{{displaydescription}}" != "True" ? false : true
	  const autonext = "{{autonext}}" != "True" ? false : true
	  const autostart = "{{autostart}}" != "True" ? false : true
	  const autoskip_intro = "{{autoskip_intro}}" == "True" ? true : false
	  const autoskip_outro = "{{autoskip_outro}}" == "True" ? true : false
	  
	  const playerInstance = jwplayer("player").setup({
		controls: controls,
		displaytitle: displaytitle,
		displaydescription: displaydescription,
		abouttext: "As2anime",
		aboutlink: "https://as2anime.com/",
		autostart: autostart,
		skin: {
		  name: "netflix",
		},
		logo: {
		  file: "",
		  link: "https://as2anime.com/",
		},
		playlist: [
		  {
			title: "{{title|safe|truncatechars:30}}",
			description: `You're Watching episode {{episode}} {{watch_type}} of {{title|safe|truncatechars:30}} on As2anime`,
			image: "{{image}}",
			tracks: source_data.tracks,
			sources: files,
		  },
		],
		advertising: {
		  client: "",
		  schedule: [
			{
			  offset: "pre",
			  tag: "",
			},
		  ],
		},
	  });
	  
	  
	  playerInstance.on("ready", function () {
		// Move the timeslider in-line with other controls
		const playerContainer = playerInstance.getContainer();
		const buttonContainer = playerContainer.querySelector(
		  ".jw-button-container"
		);
		const spacer = buttonContainer.querySelector(".jw-spacer");
		const timeSlider = playerContainer.querySelector(".jw-slider-time");
		buttonContainer.replaceChild(timeSlider, spacer);

		const player = playerInstance;

		// display icon
		const rewindContainer = playerContainer.querySelector(
		  ".jw-display-icon-rewind"
		);
		const forwardContainer = rewindContainer.cloneNode(true);
		const forwardDisplayButton =
		  forwardContainer.querySelector(".jw-icon-rewind");
		forwardDisplayButton.style.transform = "scaleX(-1)";
		forwardDisplayButton.ariaLabel = "Forward 10 Seconds";
		const nextContainer = playerContainer.querySelector(
		  ".jw-display-icon-next"
		);
		nextContainer.parentNode.insertBefore(
		  forwardContainer,
		  nextContainer
		);

		// control bar icon
		playerContainer.querySelector(
		  ".jw-display-icon-next"
		).style.display = "none"; // hide next button
		const rewindControlBarButton =
		  buttonContainer.querySelector(".jw-icon-rewind");
		rewindControlBarButton.ariaLabel = "Backward 10 Seconds";
		const forwardControlBarButton =
		  rewindControlBarButton.cloneNode(true);
		forwardControlBarButton.style.transform = "scaleX(-1)";
		forwardControlBarButton.ariaLabel = "Forward 10 Seconds";
		rewindControlBarButton.parentNode.insertBefore(
		  forwardControlBarButton,
		  rewindControlBarButton.nextElementSibling
		);

		// add onclick handlers
		[forwardDisplayButton, forwardControlBarButton].forEach(
		  (button) => {
			button.onclick = () => {
			  player.seek(player.getPosition() + 10);
			};
		  }
		);
		// New Features
	  });
	  
	  if (autonext == true) {
		  playerInstance.on("complete", function() {
			try {
				parent.next_episode()
			}
			catch(err) {
				console.log("no parent window")
			}
		  })
	  }
	  
	  playerInstance.on("time", function () {
		const pos = this.getPosition()
		const is_skip_btn = document.querySelector('.skip_btn') !== null;
			
		if (pos > source_data.intro.start && pos < source_data.intro.end) {
			if (is_skip_btn == true) return null
			const skip_btn = document.createElement("button");
			skip_btn.id = "skip_intro";
			skip_btn.textContent = "skip intro";
			skip_btn.setAttribute('class','skip_btn');
			skip_btn.setAttribute('onclick', 'jwplayer("player").seek('+source_data.intro.end+')');
			
			document.getElementsByClassName('jw-button-container')[0].appendChild(skip_btn);
			
			if (autoskip_intro == true) this.seek(source_data.intro.end)
		} else {
			$('#skip_intro').remove()
		}
		
		if (pos > source_data.outro.start && pos < source_data.outro.end) {
			if (is_skip_btn == true) return null
			const skip_btn = document.createElement("button");
			skip_btn.id = "skip_outro";
			skip_btn.textContent = "skip outro";
			skip_btn.setAttribute('class','skip_btn');
			skip_btn.setAttribute('onclick', 'jwplayer("player").seek('+source_data.outro.end+')');
			
			document.getElementsByClassName('jw-button-container')[0].appendChild(skip_btn);
			
			if (autoskip_outro == true) this.seek(source_data.outro.end)
		} else {
			$('#skip_outro').remove()
		}
	  })
	  
	  $("#player_loader").css("display", "none")
	},
  });
</script>
{% endblock %}