{% extends 'app/admin_base.html' %}
{% load filters %}

{% block page_meta_data %} 
<title>
  Users | As2anime Admin Panel
</title>
<script>
  const temp_user_dict = "{{data.temp_user_dict|safe}}";
  const users_dict = JSON.parse(temp_user_dict.replace(/'/g, '"'))
</script>
<script defer src="/static/js/pages/users.js"></script>
{% endblock %}

{% block page_content %}
        <div class="container-fluid cus_wrapper">
            <div  class="row">
				<div id="users_wrapper" class="col-xl-12"> 
                    <div class="card card-block card-stretch card-height files-table">                   
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title admin_title_font">Users</h4>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="table-responsive">
                                <table class="table mb-0 table-borderless tbl-server-info">
									<thead>
										<tr>
											<th scope="col">Name</th>
											<th scope="col">Email</th>
											<th scope="col">Created At</th>
											<th scope="col">Vip</th>
											<th scope="col">Expiration</th>
											<th scope="col"></th>
										</tr>
									</thead>
									<tbody>
										{% for key, val in data.users.items %}
											<tr class="user_wrapper" data-email="{{val.email}}" id="{{val.email}}" >
												<td class="admin_title_font">{{val.username}}</td>
												<td class="admin_title_font">{{val.email}}</td>
												<td class="admin_title_font date_wrapper">{{val.create_at}}</td>
												<td class="">
													<div class="radio_wrapper">
														{% if val.is_vip == True %}
															{% if val.vip_expiration|exp_filter == True %}
																<input id="is_vip_{{val.email}}" class="radio_btn vip_check" checked type="checkbox" data-id="is_vip" data-email="{{val.email}}" />
															{% else %}
																<input id="is_vip_{{val.email}}" class="radio_btn vip_check" type="checkbox" data-id="is_vip" data-email="{{val.email}}" />
															{% endif %}
														{% else %}
															<input id="is_vip_{{val.email}}" class="radio_btn vip_check" type="checkbox" data-id="is_vip" data-email="{{val.email}}" />
														{% endif %}
														<label class="inner_radio_wrapper" for="is_vip_{{val.email}}" ></label>
													</div>
												</td>
												{% if val.is_vip == True %}
													<td class="admin_title_font date_wrapper" data-email="{{val.email}}">{{val.vip_expiration|exp_parser}} days</td>
												{% else %}
													<td class="admin_title_font date_wrapper" data-email="{{val.email}}">{{"0"|exp_parser}}</td>
												{% endif %}
												<td>
													<div class="dropdown">
														<span class="dropdown-toggle" id="dropdownMenuButton6" data-toggle="dropdown">
															<i class="ri-more-fill more_acts_icon"></i>
														</span>
														<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton6">
															<a role="button" class="dropdown-item user_act_buttons" href="#view" data-type="view" data-email="{{val.email}}"><i class="ri-eye-fill mr-2"></i>View</a>
															<a role="button" class="dropdown-item user_act_buttons" href="#edit" data-type="edit" data-values="{{val|safe}}"><i class="ri-pencil-fill mr-2"></i>Edit</a>
															<a role="button" class="dropdown-item user_act_buttons" href="#delete" data-type="delete" data-email="{{val.email}}"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
														</div>
													</div>
												</td>
											</tr>
										 {% endfor %}
									</tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
				
				<div id="user_form_wrapper" class="col-xl-8"> 
                    <div class="card card-block card-stretch card-height files-table">                   
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Edit User</h4>
                            </div>
							<div id="close_auth_btn_wrapper">
								<img
								  role="button" 
								  id="close_auth_icon"
								  src="/static/images/close2.svg"
								  alt="close wrapper button icon"
								/>
							</div>
                        </div>
                        <div class="card-body pt-0">
						<div id="inner_user_form_wrapper">
							<form action="post" id="user_form" accept-charset="utf-8">
								<div class="user_inp_image_wrapper">
									<div class="user_inp_wrapper">
										<input
											type="file"
											accept="image/*"
											name="image"
											id="profile_image"
											placeholder=" "
											onChange="change_image(this, 'profile_image')"
											class="user_inp user_file_inp"
										/>
										<label for="profile_image">Profile Image</label>
										<label class="profile_outter_image_wrapper" for="profile_image">
											<div class="profile_image_wrapper user_image_preveiw_wrapper">
												<img src="/static/images/default.jpg" data-value="" alt="user profile image" class="profile_image">
											</div>
										</label>
									</div>
								</div>
								<div class="user_inp_text_wrapper">
									<div class="outter_input_wrapper">
										<label for="username" class="settings_input_label_wrapper">
											Username
										</label>
										<input type="text" class="settings_input username_input" data-value="username">
								  </div>
									<div class="outter_input_wrapper">
										<label for="password" class="settings_input_label_wrapper">
											password
										</label>
										<input type="text" class="settings_input password_input" data-value="password">
								  </div>
									<div class="save_btn_wrapper">
										<button type="button"  data-id="" class="save_btn">
											save
										</button>
									</div>	
								</div>
							</form>
						  </div>
						</div>
						</div>
                        </div>
                    </div>
                </div>
				

<script defer>
	function change_image(input, id)  {
	//* this func is executed on the onchange eventlistner in the image_preview_wrapper tag
	if (input.files && input.files[0]) {
		const reader = new FileReader();
		
		reader.onload = function (e) {
			const image_url = e.target.result
			const slider_image_preview = $("."+id)
			slider_image_preview.data("value", image_url)
			slider_image_preview.attr("src", image_url)
		}
		reader.readAsDataURL(input.files[0]);
	}
}
</script>
{% endblock %}