    <footer class="main-footer">
      <div class="inner-con">
        <div class="title-con">
          {% include "widgets/title.html" %}
        </div>
        <div class="bottom-con">
          <div class="inner-con">
            <p>
              &copy; 2023 {{site_data.values.inputs.site_name.value}}. All rights reserved. |<a href="#">Terms of Service</a> |
              <a href="#">Privacy Policy</a>
            </p>
            <p>Contact: {{site_data.values.inputs.email.value}}</p>
          </div>
        </div>
      </div>
    </footer>