// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400&display=swap');

:root {
  // --primary-font: 'Poppins', sans-serif;
  --primary-font: 'Dosis', sans-serif;
  --primary-color: #fff;
  --secondary-color: #000;
  --third-color: #7f009c;
  --accent-color: #575652;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
   font-family: var(--primary-font); 
   background-color: var(--primary-color);
   color: #000;
}

.menu-text {
    display: none;
}

.normal-logo-con {
    display: none;
}

.site-logo.small-logo {
    width: 55px;
}

.inner-menu-con > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.right-con {
    display: flex;
    flex-direction: column;
    width: calc(85% - 10px);
}

.side-bar-con {
    background-color: var(--third-color);
    width: calc(20% - 10px);
}

.menu-link > i {
    color: var(--primary-color);
    font-size: 18px;
}

li.menu-item {
    display: flex;
    justify-content: center;
    height: 50px;
}

a.menu-link {
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none;
}

.inner-menu-con {
    margin-top: 20px;
}

.menu-btn-con {
    display: none;
}

header.main-header {
    padding: 10px 5px;
}

.search-items-con {
    display: none;
}

button.search-btn {
    background: none;
    border: none;
    padding: 5px;
    width: 100%;
    height: 35px;
}

button.search-btn > i {
    font-size: 15px;
}

input.search-input {
    display: none;
    border: none;
    width: 80%;
    height: 40px;
    font-size: 14px;
    font-family: var(--primary-font);
    background: none;
    border: none;
    outline: none;
}

input.search-input::placeholder {
    color: var(--secondary-color);
}

.search-input-con {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px var(--accent-color);
    border-radius: 3rem;
    width: 36px;
}



p.filter-text {
    display: none;
    margin: 0;
}

a.filter-link {}

.header-viewer-con.desktop-viewer-con {
    display: flex;
    justify-content: space-between;
}



span.account-btn.actions-dropdown-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
}

img.account-image {
    border-radius: 100%;
    list-style: none;
}

.actions-dropdown-menu > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

span.action-btn {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    padding: 5px;
    height: 100%;
    width: 100%;
    margin: 8px 0;
}

.account-profile-image-con {
    display: flex;
    justify-content: center;
}

.actions-dropdown-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: -15%;
    background: var(--third-color);
    border-radius: 0.25rem;
    width: 100px;
}

.outter-account-con {
    position: relative;
}

.left-side > .inner-con > ul,
.right-side > .inner-con > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.middle-con {
    display: flex;
    justify-content: center;
}

.middle-con > div {display: flex;justify-content: center;width: 50%;}

footer.main-footer .small-logo-con {
    display: none;
}


footer.main-footer .normal-logo-con {
    display: flex;
}

footer.main-footer {
    color: var(--primary-color);
    background: var(--third-color);
}

a.home-link.title-link {
    display: flex;
    justify-content: center;
}

.bottom-con > .inner-con {
    font-size: 10px;
}

.bottom-con > .inner-con > p {text-align: center;}