img.poster {
    width: 55%;
    max-width: 205px;
}

.image-poster-con {
    display: flex;
    justify-content: center;
}

.info-con > div {
    width: 100%;
}

.desktop-episodes-con {
    display: none;
    min-width: 219px;
}
.desktop-episodes-con .inner-episodes-con {
    justify-content: start;
}
.action-buttons-con {
    display: flex;
    justify-content: center;
}

button.watch2gather-btn {
    background: var(--highlight-color);
    border-radius: 0 .5rem .5rem 0;
}
kk
button.watch2gather-btn, button.add-to-list-btn {
    font-size: 12px;
    width: 40px;
    padding: 10px 0;
    transition: background .5s ease-in-out;
}

button.watch2gather-btn:hover, button.add-to-list-btn:hover {
    background: var(--secondary-accent-color);
    transition: background .5s ease-in-out;
}

.watch2gather-btn-con {
    display: flex;
    justify-content: center;
}

.synonyms {
  font-size: medium;
  color: var(--third-color);
}

.add-to-list-btn-con {
    display: flex;
    margin: 0 0 14px 0;
}

button.add-to-list-btn {
    margin: 0;
    background: var(--secondary-highlight-color);
    border-radius: .5rem 0 0 .5rem;
}

.ticks-con {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tick {
    font-size: smaller;
}

span.inner-tick {
    font-size: small;
    color: var(--third-color);
}

a.genre-link {
    color: var(--third-color);
}
span.more-des-btn {
    color: var(--third-color);
    padding: 0 10px;
    cursor: pointer;
}

.modal-description-con {justify-content: center;align-items: center;position: fixed;right: 0;top: 0;background: #000000d6;width: 100%;height: 100%;}

.modal-description-con > p.description {
    background: var(--highlight-color);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: .2rem;
}

span.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}


.info-con {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    gap: 10px;
}

.right-con {
    font-size: small;
    width: 70%;
}

img.poster {width: 100%;border-radius: .25rem;}

h3.title {
    font-size: 22px;
}

.inner-episodes-con {
    display: flex;
    justify-content: center;
}

.inner-episodes-con ul {display: flex;flex-direction: column;padding: 0;list-style: none;gap: 1px;max-height: 325px;overflow: auto;max-width: 700px;width: 100%;}

a.episode-link {display: flex;justify-content: center;padding: 10px 0;color: var(--secondary-color);background: var(--highlight-color);text-decoration: none;padding: 10px;transition: background .5s ease-in-out;}
a.episode-link:hover {
    background: var(--secondary-accent-color);
    transition: background .5s ease-in-out;
}
/*
@media screen and (min-width: 480px) {
}*/

@media screen and (min-width: 600px) {
    .info-con {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .left-con {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 30% !important;
    }

    .right-con {
        width: 70% !important;
    }

    img.poster {width: 100%;}

    h3.title {
        font-size: 22px;
    }
}

/*@media screen and (min-width: 768px) {
}
*/

@media screen and (min-width: 901px) {
    .mobile-episodes-con {
        display: none;
    }

    .desktop-episodes-con {
        display: block;
    }
}


/*@media screen and (min-width: 1024px) {
}
*/
/*
@media screen and (min-width: 1200px) {
}

*/
