img.poster {
    width: 55%;
    max-width: 205px;
}

.image-poster-con {
    display: flex;
    justify-content: center;
}

button.watch2gather-btn, button.add-to-list-btn {
    padding: 10px;
    background: var(--third-color);
    font-family: var(--primary-font);
    margin: 10px 0;
    border-radius: .25rem;
    box-shadow: 0 0 15px 0px var(--third-color);
}

.watch2gather-btn-con {
    display: flex;
    justify-content: center;
}

.add-to-list-btn-con {
    display: flex;
    margin: 0 0 14px 0;
}

button.add-to-list-btn {
    margin: 0;
}

.ticks-con {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

span.tick i {
    margin-right: 5px;
}

span.tick.type-tick {
    color: #f00;
}

span.tick.status-tick {
    color: #45d100;
}

span.tick {
    font-size: 13px;
}

span.tick.season-tick {
    color: #c2c2ff;
}

.genres-ticks-con.ticks-con ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    list-style: none;
}

li.tick.genre-tick {
    background: var(--secondary-accent-color);
    padding: 5px 10px;
    border-radius: .25rem;
    color: var(--secondary-color);
}

a.genre-link {
    color: var(--secondary-color);
    text-decoration: none;
}

span.more-des-btn {
    color: var(--third-color);
    padding: 0 10px;
    cursor: pointer;
}

.modal-description-con {justify-content: center;align-items: center;position: fixed;right: 0;top: 0;background: #000000d6;width: 100%;height: 100%;}

.modal-description-con > p.description {
    background: var(--third-color);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: .35rem;
}

span.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    background: var(--secondary-accent-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}


.info-con {
    display: flex;
    gap: 10px;
}

.left-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.right-con {
    width: 70%;
}

img.poster {width: 100%;}

h3.title {
    font-size: 22px;
}



.inner-episodes-con ul {display: flex;padding: 0;list-style: none;flex-wrap: wrap;gap: 10px;}

a.episode-link {display: flex;justify-content: center;padding: 10px 0;color: var(--secondary-color);background: var(--third-color);text-decoration: none;padding: 10px;border-radius: .25rem;}

/*
@media screen and (min-width: 480px) {
}*/

@media screen and (min-width: 600px) {
    .info-con {
        display: flex;
        gap: 10px;
    }

    .left-con {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
    }

    .right-con {
        width: 70%;
    }

    img.poster {width: 100%;}

    h3.title {
        font-size: 22px;
    }
}

/*@media screen and (min-width: 768px) {
}
*/
/*
@media screen and (min-width: 901px) {
}
*/

/*@media screen and (min-width: 1024px) {
}
*/
/*
@media screen and (min-width: 1200px) {
}

*/
