.features-swiper-slide.swiper-slide {
    display: none;
}

.feature-con {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}

.background-image-con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    filter: blur(4px);
}

img.background-image {
    width: 100%;
    height: 98%;
    object-fit: cover;
}

img.features-poster {width: 95%;height: 98%;outline: 1px solid var(--third-color);border-radius: .5rem;transform: rotate(5deg);}

.right-side {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    min-width: 175px;
}

.anime-info-con {
    display: flex;
    justify-content: end;
    align-items: end;
    position: relative;
    width: 100%;
    height: 100%;
    background: #0000007a;
    box-shadow: 0 0 5px 2px #0000007a;
}

.features-swiper-slide.swiper-slide.active {
    display: block;
    height: 100%;
}

.features-swiper-wrapper.swiper-wrapper {
    height: 300px;
}

.left-side-con {
    display: flex;
    flex-direction: column;
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 40px;
    padding: 10px;
    z-index: 1;
}

p.description {
    display: none;
}

p.title {
    font-size: 18px;
    /* color: var(--third-color); */
    font-family: var(--label-font);
}



a.watch-link {
    display: flex;
    justify-content: center;
    background: var(--third-color);
    width: 100px;
    padding: 10px 0;
    text-decoration: none;
    color: var(--secondary-color);
    border-radius: .35rem;
    box-shadow: 0 0 5px 1px var(--secondary-accent-color);
}