iframe.player {
    height: 405px;
}

.player-con > .inner-con {
    padding: 0;
}

.episodes-player-chat-con {
    display: flex;
}

.outer-episodes-con {
    display: none;
}

.outer-episodes-con {
    width: 400px;
    max-height: 462px;
    overflow-y: auto;
}

h4.episodes-label {
    display: none;
}

.desktop-episodes-con ul {
    margin: 0;
    height: 100%;
    max-height: 100% !important;
}

.player-con {
    height: 206px;
}

.player-con > div {
    height: 100%;
}

.action-player-buttons-con {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 0 5px;
}


.action-player-buttons-con button {
    background: var(--highlight-color);
}

.action-player-buttons-con button, button.server-link-con {
    font-size: 12px;
    width: 40px;
    padding: 10px 0;
    transition: background .5s ease-in-out;
}

.action-player-buttons-con button:hover, button.server-link-con:hover {
    background: var(--secondary-accent-color);
    transition: background .5s ease-in-out;
}

.player-buttons-con, .action-buttons-con {
    display: flex;
}

button.prev-btn, .add-to-list-btn {
    border-radius: .5rem 0 0 .5rem;
}

button.next-btn, .watch2gather-btn {
    border-radius: 0 .5rem .5rem 0;
}

button.add-to-list-btn {
    background: var(--secondary-highlight-color);
}

button.fullscreen-btn {
    background: var(--secondary-highlight-color);
}

.servers-embed-label {
    margin-top: 10px;
}

.servers-label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: small;
}

.servers-embed-label {
    margin-top: 10px;
}

.servers-label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: small;
}

.servers-label > p {
    margin: 0px;
    text-align: center;
}

span.episode-alert-box {
    color: var(--third-color);
    font-weight: 600;
}

.servers-links-con {
    display: flex;
    justify-content: center;
}


button.server-link-con {
    background: var(--secondary-highlight-color);
    width: 100px;
    padding: 5px;
    font-family: var(--primary-font);
    font-size: 15px;
    max-height: 30px;
}

.server-links-con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin: 10px 0;
    background: var(--highlight-color);
    padding: 10px;
}

.inner-episodes-con {
    display: flex;
    justify-content: center;
}

.inner-episodes-con ul {display: flex;flex-direction: column;padding: 0;list-style: none;gap: 1px;max-height: 325px;overflow: auto;max-width: 700px;width: 100%;}

a.episode-link {display: flex;justify-content: center;padding: 10px 0;color: var(--secondary-color);background: var(--highlight-color);text-decoration: none;padding: 10px;transition: background .5s ease-in-out;}
a.episode-link:hover {
    background: var(--secondary-accent-color);
    transition: background .5s ease-in-out;
}

/*
@media screen and (min-width: 480px) {
}*/

@media screen and (min-width: 600px) {
    .player-con {
        height: 319px;
    }

    .servers-embed-label {
        display: flex;
    }

    .servers-label {
        padding: 10px;
        background: var(--secondary-highlight-color);
    }

    .server-links-con {margin: 0;}
}

/*@media screen and (min-width: 768px) {
}
*/

@media screen and (min-width: 901px) {
    .mobile-episodes-con {
        display: none;
    }

    .outer-episodes-con {
        display: block;
    }

}


/*@media screen and (min-width: 1024px) {
}
*/
/*
@media screen and (min-width: 1200px) {
}

*/
