{% extends "bases/admin.html" %}

{% block head_content %}
{% endblock %}

{% block main_content %}
    <div class="inner-con inner-main-content">
        <div class="admins-con">
            <div class="admins-count-add-con">
                <div class="admins-count-con">
                    <p class="admins-label">Admins:</p>
                    <span class="admin-count">{{ admins_count }}</span>
                </div>
                <div class="add-admin-btn-con">
                    <button role="button" class="action-btn reset-btn add-admin">
                      Reset Settings
                    </button>
                    <button type="button" class="add-admin real">
                        Add Admin
                    </button>
                </div>
            </div>
            <div class="admins-table-con">
               {% with table_admins=admins %}
                  {% include "pages/admin/widgets/admin_table.html" %}
               {% endwith %}
            </div>
        </div>

        <div class="outter-modal-con">
          <div class="modal-con">
              <div class="text-con">
                  <p class="text">Enter Site key to confirm</p>
              </div>
              <div class="modal-content-con">
                <div class="sitekey-input-content">
                    <div class="sitekey-input-con">
                        <input type="password" hidden class="sitekey-input" autocomplete="false" style="display: inline-block;">
                    </div>
                    <div class="sitekey-submit-btn-con">
                        <button class="sitekey-submit-btn">Submit</button>
                    </div>
                </div>
              </div>
          </div>
        </div>

        <div class="outter-add-admin-modal-con" data-open="false"> 
            <div class="inner-con">
                <div class="close-btn-con"><button class="close-btn"><i class="fa-solid fa-x"></i></button></div>
                <div class="inner-add-admin-modal-con">
                  {% with type="text" placeholder="Name" key="username"  icon="fa fa-user" %}
                    <div class="admin-login-outer-input-con">
                      {% include "widgets/icon_input.html" %}
                    </div>
                  {% endwith %}

                  {% with type="text" placeholder="Email" key="email" icon="fas fa-envelope" %}
                    <div class="admin-login-outer-input-con">
                      {% include "widgets/icon_input.html" %}
                    </div>
                  {% endwith %}

                  {% with type="password" placeholder="Password" key="password"  icon="fas fa-key" %}
                    <div class="admin-login-outer-input-con">
                      {% include "widgets/icon_input.html" %}
                    </div>
                  {% endwith %}

                  {% with type="password" placeholder="Confirm" key="confirm"  icon="fas fa-key" %}
                    <div class="admin-login-outer-input-con">
                      {% include "widgets/icon_input.html" %}
                    </div>
                  {% endwith %}
                </div>
                {% include 'pages/admin/widgets/save_btn.html' %}
            </div>
        </div>
    </div>
{% endblock %}

