{% extends "bases/admin.html" %}

{% block head_content %}
{% endblock %}

{% block main_content %}
    <div class="inner-con inner-main-content">
        <div class="admins-con">
            <div class="admins-count-add-con">
                <div class="admins-count-con">
                    <p class="admins-label">Admins:</p>
                    <span class="admin-count">{{ admins_count }}</span>
                </div>
                <div class="add-admin-btn-con">
                    <button type="button" class="add-admin">
                        Add Admin
                    </button>
                </div>
            </div>
            <div class="admins-table-con">
               {% with table_admins=admins_items %}
                  {% include "pages/admin/widgets/admin_table.html" %}
               {% endwith %}
            </div>
        </div>
        {% with modal_class="site-key-modal" modal_text="Enter Site key to confirm" modal_html="<button class='submit-key-btn'>submit</button>" %}
            {% include "widgets/modal.html"  %}
        {% endwith %}
    </div>
   {% include 'pages/admin/widgets/save_btn.html' %}
{% endblock %}

