{% extends "bases/admin.html" %}

{% block head_content %}
{% endblock %}

{% block main_content %}
    <div class="inner-con inner-main-content">
        <div class="admins-con">
            <div class="admins-count-add-con">
                <div class="admins-count-con">
                    <p class="admins-label">Admins:</p>
                    <span class="admin-count">{{ admins_count }}</span>
                </div>
                <div class="add-admin-btn-con">
                    <button type="button" class="add-admin">
                        Add Admin
                    </button>
                </div>
            </div>
            <div class="admins-table-con">
               {% with table_admins=admins_items %}
                  {% include "pages/admin/widgets/admin_table.html" %}
               {% endwith %}
            </div>
        </div>

        <div class="outter-modal-con">
          <div class="modal-con">
              <div class="text-con">
                  <p class="text">Enter Site key to confirm</p>
              </div>
              <div class="modal-content-con">
                <div class="sitekey-input-content">
                    <div class="sitekey-input-con">
                        <input type="text" hidden class="sitekey-input" style="display: inline-block;">
                    </div>
                    <div class="sitekey-submit-btn-con">
                        <button class="sitekey-submit-btn">Submit</button>
                    </div>
                </div>
              </div>
          </div>
        </div>

    </div>
   {% include 'pages/admin/widgets/save_btn.html' %}
{% endblock %}

