{% extends "bases/admin.html" %}

{% block head_content %}{% endblock %}

{% block main_content %}
  <div class="inner-con inner-main-content">
    <div class="cards-con">
      {% for item in analytics %}
        {% with icon=item.icon label=item.label numbers=item.numbers %}
          {% include 'pages/admin/widgets/analytics_card.html' %}
        {% endwith %}
      {% endfor %}
    </div>
    <div class="tables-con">
      {% with query_url=users_pages.query_url content="user" items=users pages=users_pages.pages page=users_pages.page label="users"  %}
        {% include 'pages/admin/widgets/analytics_users_table.html' %}
      {% endwith %}

      {% with query_url=tioanimes_pages.query_url content="tioanime" items=tioanimes pages=tioanimes_pages.pages page=tioanimes_pages.page label="tioanimes animes" %}
        {% include 'pages/admin/widgets/analytics_animes_table.html' %}
      {% endwith %}
      {% with query_url=latanimes_pages.query_url content="latanimes" items=latanimes pages=latanimes_pages.pages page=latanimes_pages.page label="latanimes animes" %}
        {% include 'pages/admin/widgets/analytics_animes_table.html' %}
      {% endwith %}
    </div>
  </div>
{% endblock %}
