{% load filters %}
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:news="http://www.google.com/schemas/sitemap-news/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1" xmlns:video="http://www.google.com/schemas/sitemap-video/1.1">
	{% for i in data %}
		{% if i.animeTitle != ""%}
		<url>
			<loc>https://as2anime.com/browsing?keyword={{ i.animeTitle|cus_urlencode }}</loc>
			<changefreq>daily</changefreq>
			<priority>0.8</priority>
		</url>
		{% endif %}
	{% endfor %}
</urlset>