{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block head_scripts %}
    {% endblock %}
  </head>
  <body>
    <div id="page_wrapper">
      <div class="page_side">
        <!-- header starts -->
        {% include 'app/sections/header.html' %}
        <!-- header ends -->

        <div class="outter_main_section">
          <!-- menu starts -->
          {% include 'app/sections/menu.html' %}
          <!-- menu ends -->

          <!-- main section starts -->
          <div id="main_section">
            {% block page_content %}
            {% endblock %}
          </div>
          <!-- main sections ends -->
        </div>

        <!-- footer starts -->
        {% include 'app/sections/footer.html' %}
        <!-- footer ends -->
      </div>
    </div>
	{% block foot_scripts %}
  {% endblock %}
  </body>
</html>
