{% load filters %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
<meta name="description" content="{{ site_data.values.inputs.site_description.value }}"/>
  <meta name="keywords" content="{{ site_data.values.inputs.name.value }}, watch anime online, free anime, anime free, online anime, anime website, latino anime site, watch latino anime for free, free latino anime"/><meta property="og:type" content="website"/>
  <meta property="og:url" content="{{page_url}}"/>
  <meta property="og:title" content="{{ site_data.values.inputs.name.value }} - {{ site_data.values.inputs.title.value }}"/>
  <meta property="og:image" content="{{site_data.values.images.site_logo.value}}"/>
  <meta property="og:image:width" content="650">
  <meta property="og:image:height" content="350">
  <meta property="og:description" content="{{ site_data.values.inputs.site_description.value }}"/>
  <link rel="shortcut icon" href="{{ site_data.values.images.favicon_logo.value }}" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
  <link href="/static/css/global.css" rel="stylesheet" />
  <link href="/static/css/anime/anime.css" rel="stylesheet" />
  <link href="/static/css/anime/authentication.css" rel="stylesheet" />
  <link href="/static/css/{% if page == 'profile' %}user{% else %}anime{% endif %}/pages/{{page}}.css" rel="stylesheet" />
 <script 
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" 
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" 
    crossorigin="anonymous" 
    referrerpolicy="no-referrer"
    defer
    ></script>
  <script
    src="https://js.hcaptcha.com/1/api.js?hl=es&onload=renderCaptchaWidgets&render=explicit"
    async
    defer
  ></script>
  <script>
    const csrfToken = "{{csrf_token}}"
    const captchaSiteKey = "{{CAPTCHA_SITE_KEY}}"
    const captchas = {}
  </script>

  {% include "pages/anime/widgets/adblock_detection.html" %}
  {% include "pages/anime/widgets/dev_tools_detection.html" %}

  <script defer type="text/javascript" src="/static/js/resources/urlUtils.js"></script>
  <script defer type="text/javascript" src="/static/js/global.js"></script>
  <script defer type="text/javascript" src="/static/js/anime/anime.js"></script>
  <script defer type="text/javascript" src="/static/js/anime/authentication.js"></script>
  <script defer type="text/javascript" src="/static/js/{% if page == 'profile' %}user{% else %}anime{% endif %}/pages/{{page}}.js"></script>
  {% if not titled %}
  <title> {% if page == "index" %} Home {% else %} {{page|title|replace:"_, "}} {% endif %} | {{ site_data.values.inputs.title.value }} | {{ site_data.values.inputs.site_name.value }} </title>
  {% endif %}

  {% block head_content %}
  {% endblock %}

  {{site_data.scripts.head_scripts.global_head.value|safe}}
  </head> 
<body class="scrollable-ele">
	  <div class="page-content">
        {% if not no_layout %}
          {% include "sections/anime/header.html" %}
          {% with height=site_data.scripts.ads_scripts.top_advertisement.height value=site_data.scripts.ads_scripts.top_advertisement.value %}
            {% include "widgets/ad_wrapper.html" %}
          {% endwith %}
          <main class="main-content">
            <div class="core-content">
              {% block main_content %}
              {% endblock %}
            </div>
            {% include "pages/anime/widgets/authentication.html" %}
          </main>
          <div style="display: none;" class="page-loader progress-loader" data-open="false">
            {% include "widgets/spinner.html" %}
          </div>

          {% include "pages/anime/widgets/preloader.html" %}

          <div class="outer-alert-box" style="display: none;" > 
            <div class="alert-box">
            </div>
          </div>
          {% with height=site_data.scripts.ads_scripts.bottom_advertisement.height value=site_data.scripts.ads_scripts.bottom_advertisement.value %}
            {% include "widgets/ad_wrapper.html" %}
          {% endwith %}
          <div class="adsbox ad-wrapper ads-wrapper" style="width: 1px; height: 1px;">
          </div>

          {% include "sections/anime/footer.html" %}
        {% else %}
          <main class="main-content">
            <div class="core-content">
              {% block main_content_2 %}
              {% endblock %}
            </div>
          </main>
        {% endif %} 
    </div>
  {{site_data.scripts.foot_scripts.global_foot.value|safe}}
  {% block foot_content %}
  {% endblock %}
</body>
</html>


